extends ../layout-wide
block content
    link(rel='stylesheet', href='/js/lib/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/js/lib/codemirror/addon/lint/lint.css')
    link(rel='stylesheet', href='/js/lib/codemirror/theme/monokai.css')
    link(rel='stylesheet', href='/css/ubuntu.css')
    .row(ng-controller="pairedWithController")
        .col-md-4.col-lg-3
            .scroll-locker(id = "scroll-locker")
                .innerMarginFix(style = "width: 99%;")
                    #testCreatePanel.well
                        h3.text-center.negative-10= name
                        .row
                            .col-xs-12
                                .bonfire-instructions
                                    for sentence in details
                                        p.wrappable.negative-10!= sentence
                                    .negative-bottom-margin-30
                                        #MDN-links
                                            p.negative-10 Here are some helpful links:
                                            for link, index in MDNlinks
                                                .negative-10
                                                    ul: li: a(href="" + link, target="_blank") !{MDNkeys[index]}
                    if (user)
                        form.form-horizontal(novalidate='novalidate', name='completedWithForm')
                            .form-group.text-center.negative-10
                                .col-xs-12
                                    // extra field to distract password tools like lastpass from injecting css into our username field
                    label.negative-10.btn.btn-primary.btn-lg.btn-block#submitButton
                        i.fa.fa-play
                            | &nbsp; Run tests (ctrl + enter)
                    .button-spacer
                    .btn-group.input-group.btn-group-justified
                        label.btn.btn-success#trigger-reset-modal
                            i.fa.fa-refresh
                                | &nbsp; Reset
                        label.btn.btn-success#challenge-help-btn
                            i.fa.fa-medkit
                                | &nbsp; Help
                        label.btn.btn-success#trigger-issue-modal
                            i.fa.fa-bug
                                | &nbsp; Bug
                    if (!user)
                        .button-spacer
                        a.btn.signup-btn.btn-block.btn-block(href='/login') Sign in so you can save your progress
                            script.
                                var userLoggedIn = false;
                    .button-spacer
                    form.code
                        .form-group.codeMirrorView
                            textarea#codeOutput(style='display: none;')
                    br
                    #testSuite.negative-10
                    br
        .col-md-8.col-lg-9
            .editorScrollDiv(style = "overflow-y: auto; overflow-x: hidden;")
                #mainEditorPanel
                    form.code
                        .codeMirrorView
                            textarea#codeEditor(autofocus=true, style='display: none;')
    #complete-courseware-dialog.modal(tabindex='-1')
        .modal-dialog.animated.fadeIn.fast-animation
            .modal-content
                .modal-header.challenge-list-header= compliment
                    a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
                .modal-body
                    .text-center
                        #checkmark-container.row
                            #challenge-checkmark.animated.zoomInDown.delay-half
                                span.completion-icon.ion-checkmark-circled.text-primary
                        .spacer
                        .row
                        if (user)
                            #submit-challenge.animated.fadeIn.btn.btn-lg.btn-primary.btn-block Submit and go to my next challenge (ctrl + enter)
                        else
                            a#next-challenge.animated.fadeIn.btn.btn-lg.btn-primary.btn-block(href="/challenges/next-challenge?id="+challengeId) Go to my next challenge (ctrl + enter)
    include ../partials/challenge-modals
    script(type="text/javascript").
      var common = window.common = { init: [] };

      common.tests = !{JSON.stringify(tests)};
      common.head = !{JSON.stringify(head)};
      common.tail = !{JSON.stringify(tail)};

      common.challengeId = !{JSON.stringify(challengeId)};
      common.challengeName = !{JSON.stringify(name)};
      common.challengeSeed = !{JSON.stringify(challengeSeed)};
      common.challengeType = !{JSON.stringify(challengeType)};
      common.dashedName = !{JSON.stringify(dashedName)};

      common.started = Math.floor(Date.now());

    include ../partials/challenge-footer
    script.
      if (!!{JSON.stringify(MDNlinks.length)}) {
          $('#MDN-links').addClass('collapse');
      }
      document.addEventListener('gitter-sidecar-ready', function(e) {
        if (window.main) {
          window.main.chat.createHelpChat('freecodecamp/help', '#challenge-help-btn');
        }
      });
      editor.setOption("mode", "javascript");
