extends ../layout-wide
block content
    .row
        .col-md-8.col-md-offset-2
                for step, index in description
                    .thumbnail.challenge-step(class=index !== 0 ? 'hidden': '')
                        img.gif-block.img-center.img-responsive.thumbnail(src='#{step[0]}' alt='#{step[1]}')
                        .caption
                            p.large-p!= step[2]
                        if step[3]
                            a.btn.btn-block.btn-primary.challenge-step-btn-action(id='#{index}' href='#{step[3]}' target='_blank') Open link in new tab
                        if index + 1 === description.length
                            .btn.btn-block.btn-primary.challenge-step-btn-finish(id='last' class=step[3] ? 'disabled' : '') Finish challenge
                        else
                            .btn.btn-block.btn-primary.challenge-step-btn-next(id='#{index}' class=step[3] ? 'disabled' : '') Go to my next step
    #challenge-step-modal.modal(tabindex='-1')
        .modal-dialog.animated.fadeIn.fast-animation
            .modal-content
                .modal-header.challenge-list-header= compliment
                    a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
                .modal-body
                    .text-center
                      #checkmark-container.row
                          #challenge-checkmark.animated.zoomInDown.delay-half
                              span.completion-icon.ion-checkmark-circled.text-primary
                      .spacer
                      .row
                      if (user)
                          #challenge-step-btn-submit.animated.fadeIn.btn.btn-lg.btn-primary.btn-block Submit and go to my next challenge
                      else
                          a.btn.btn-lg.btn-primary.btn-block(href='/challenges/next-challenge?id=' + challengeId) Go to my next challenge
    script(src=rev('/js', 'commonFramework.js'))
    script.
      var common = window.common || { init: [] };
      common.createGitterOptions('freecodecamp/help');
      common.challengeId = !{JSON.stringify(challengeId)};
      common.challengeName = !{JSON.stringify(name)};
      common.challengeType = 7;
      common.dashedName = !{JSON.stringify(dashedName || '')};
      common.isHonest = !{JSON.stringify(isHonest || false)};
      common.isFrontEndCert = !{JSON.stringify(isFrontEndCert || false)};
      common.isFullStackCert = !{JSON.stringify(isFullStackCert || false)};
      common.challengeSeed = !{JSON.stringify(challengeSeed || [])};
    script(src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer)
