extends ../layout-wide
block content
    script(src='/js/lib/codemirror/lib/codemirror.js')
    script(src='/js/lib/codemirror/addon/edit/closebrackets.js')
    script(src='/js/lib/codemirror/addon/edit/matchbrackets.js')
    script(src='/js/lib/codemirror/addon/lint/lint.js')
    script(src='/js/lib/codemirror/addon/lint/javascript-lint.js')
    script(src='/bower_components/jshint/dist/jshint.js')
    script(src='/js/lib/chai/chai.js')
    link(rel='stylesheet', href='/js/lib/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/js/lib/codemirror/addon/lint/lint.css')
    link(rel='stylesheet', href='/js/lib/codemirror/theme/monokai.css')
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Ubuntu+Mono")
    script(src='/js/lib/codemirror/mode/javascript/javascript.js')
    script(src='/js/lib/jailed/jailed.js')
    script(src='/js/lib/coursewares/sandbox.js')
    .row
        .col-xs-12.col-sm-12.col-md-4.bonfire-top
            #testCreatePanel
                h1.text-center= name
                .well
                    .row
                        .col-xs-12
                            .bonfire-instructions
                                p.wrappable= brief
                                #brief-instructions
                                    #more-info.btn.btn-primary.btn-block.btn-primary-ghost
                                        span.ion-arrow-down-b
                                        | More information
                                #long-instructions.row.hide
                                    .col-xs-12
                                        for sentence in details
                                            p.wrappable!= sentence
                                        #less-info.btn.btn-primary.btn-block.btn-primary-ghost
                                            span.ion-arrow-up-b
                                            | Less information
                #submitButton.btn.btn-primary.btn-big.btn-block Run code (ctrl + enter)
                .button-spacer
                .btn-group.input-group.btn-group-justified
                    label.btn.btn-success#trigger-help-modal
                        i.fa.fa-medkit
                            | &nbsp; Help
                    label.btn.btn-success#trigger-pair-modal
                        i.fa.fa-user-plus
                            | &nbsp; Pair
                    label.btn.btn-success#trigger-issue-modal
                        i.fa.fa-bug
                            | &nbsp; Bug
                    .spacer
                form.code
                    .form-group.codeMirrorView
                        textarea#codeOutput(style='display: none;')
                br
                #testSuite
                br
                script(type="text/javascript").
                    var tests = !{JSON.stringify(tests)};
                    var challengeSeed = !{JSON.stringify(challengeSeed)};
                    var challenge_Id = !{JSON.stringify(challengeId)};
                    var challenge_Name = !{JSON.stringify(name)};
                    var challengeType = !{JSON.stringify(challengeType)};
                    var started = Math.floor(Date.now());

        .col-xs-12.col-sm-12.col-md-8
            #mainEditorPanel
                form.code
                    .form-group.codeMirrorView
                        textarea#codeEditor(autofocus=true, style='display: none;')
                script(src='/js/lib/coursewares/coursewaresJSFramework_0.0.5.js')
    #complete-courseware-dialog.modal(tabindex='-1')
        .modal-dialog.animated.zoomIn.fast-animation
            .modal-content
                .modal-header.challenge-list-header= compliment
                    a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
                .modal-body(ng-controller="pairedWithController")
                    .text-center
                        .animated.zoomInDown.delay-half
                            span.completion-icon.ion-checkmark-circled.text-primary
                    if (user)
                        a.animated.fadeIn.btn.btn-lg.btn-primary.btn-block#next-courseware-button(name='_csrf', value=_csrf, ng-disabled='completedWithForm.$invalid && existingUser.length > 0') Go to my next challenge (ctrl + enter)
                        if (points && points > 2)
                            a.animated.fadeIn.btn.btn-lg.btn-block.btn-twitter(href="https://twitter.com/intent/tweet?text=I%20just%20#{verb}%20%40FreeCodeCamp%20#{name}&url=http%3A%2F%2Ffreecodecamp.com/challenges/#{dashedName}&hashtags=LearnToCode, JavaScript" target="_blank")
                                i.fa.fa-twitter &thinsp;
                                    = phrase
                    else
                        a.animated.fadeIn.btn.btn-lg.signup-btn.btn-block(href='/login') Sign in so you can save your progress
    include ../partials/challenge-modals
