extends ../layout
block content
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center Statistics
            hr
            ul.population-table
                li
                    span.tag Established:&#9;
                    span.text-primary #{daysRunning}
                    | days ago
                li.nowrap
                    span.tag Completed:&#9;
                    span.text-primary #{globalCompletedCount}
                    | challenges
                li.nowrap
                    span.tag Donated:&#9;
                    span.text-primary $1,050,000
                    | in pro-bono code
                li.nowrap
                    span.tag Pledged:&#9;
                    span.text-primary $#{globalPledgedAmount}
                    | to nonprofits
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center Certificates
            hr
            ul.population-table
                li.nowrap
                    span.tag Front End:&#9;
                    span.text-primary #{frontEndCount}
                    | earned
                li.nowrap
                    span.tag Data Viz:&#9;
                    span.text-primary #{dataVisCount}
                    | earned
                li.nowrap
                    span.tag Back End:&#9;
                    span.text-primary #{backEndCount}
                    | earned
                li.nowrap
                    span.tag All three:&#9;
                    span.text-primary #{allThreeCount}
                    | earned
    .spacer
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center Links
            hr
            table.table.link-table
                tr
                    td.text-center
                        i.fa.fa-medium
                    td
                        a(href='//medium.freecodecamp.com', target='_blank') Our Medium publication
                tr
                    td.text-center
                        i.fa.fa-youtube
                    td
                        a(href="//youtube.com/freecodecamp", target='_blank') Our YouTube channel
                tr
                    td.text-center
                        i.fa.fa-github
                    td
                        a(href="//github.com/freecodecamp", target='_blank') Our GitHub repository
                tr
                    td.text-center
                        i.fa.fa-linkedin
                    td
                        a(href="//www.linkedin.com/edu/school?id=166029", target='_blank') Our LinkedIn university page
                tr
                    td.text-center
                        i.fa.fa-twitter
                    td
                        a(href="//twitter.com/freecodecamp", target='_blank') Our Twitter feed
                tr
                    td.text-center
                        i.fa.fa-facebook
                    td
                        a(href="//facebook.com/freecodecamp", target='_blank') Our Facebook page
                tr
                    td.text-center
                        i.fa.fa-reddit
                    td
                        a(href="//www.reddit.com/r/freecodecamp", target='_blank') Our Subreddit
                tr
                    td.text-center
                        i.fa.fa-lock
                    td
                        a(href="/privacy") Our privacy policy
                tr
                    td.text-center
                        i.fa.fa-balance-scale
                    td
                        a(href="/code-of-conduct") Our code of conduct
                tr
                    td.text-center
                        i.fa.fa-university
                    td
                        a(href="/academic-honesty") Our academic honesty policy
                tr
                    td.text-center
                        i.fa.fa-book
                    td
                        a(href="/terms") Our terms of service
                tr
                    td.text-center
                        i.fa.fa-heart
                    td
                        a(href="/how-nonprofit-projects-work") How our nonprofit projects work
                tr
                    td.text-center
                        i.fa.fa-video-camera
                    td
                        a(href="//www.youtube.com/watch?v=O993J5KCR_w&list=PLWKjhJtqVAbnQ048Pa8sAqJoVRhx8TJtM" target='_blank') Nonprofit project demo videos
                tr
                    td.text-center
                        i.fa.fa-comment
                    td
                        a(href="/stories") Stories from campers who've become professional software developers
    .spacer
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center Frequently Asked Questions
            hr
            html
                <h4>What is freeCodeCamp?</h4>
                <p class="negative-15">We’re an open source community that helps you learn to code.</p>
                <h4>How do you help me learn to code?</h4>
                <p class="negative-15">You can work through our self-paced coding challenges, build projects, and earn certificates. We also connect you with people in your city so you can code together.</p>
                <h4>Can freeCodeCamp help me get a job as a software developer?</h4>
                <p class="negative-15">Yes. Thousands of people have gotten software developer jobs after joining our open source community.</p>
                <h4>Is freeCodeCamp a coding bootcamp?</h4>
                <p class="negative-15">No. A lot of coding bootcamps use freeCodeCamp as part of their curriculum, though.</p>
                <h4>I work for a school/bootcamp/MOOC. Can we fast track our certified students to work on your nonprofit projects?</h4>
                <p class="negative-15">Our pro bono Code Grant program is designed for developers to gain real world experience by building projects for nonprofit organizations. We recognize the value of this opportunity for your students. However, at this time, only those who have completed the Front End, Back End, and Data Visualization certifications at freeCodeCamp are eligible to participate. <br><br>We would encourage you to consider creating a skills-based volunteer initiative at your school/bootcamp/MOOC. For help getting started, contact <a href=mailto:Michael@freecodecamp.com>Michael@freecodecamp.com.</a></p>
                <h4>Is freeCodeCamp really free?</h4>
                <p class="negative-15">Yes. Our curriculum, nonprofit projects, and verified certificates are all free.</p>
                <h4>How can I help nonprofits through freeCodeCamp?</h4>
                <p class="negative-15">Once you finish the first 1,200 hours of challenges, you’ll get to build a series of solutions for nonprofits. You’ll work in pairs, under the supervision of a volunteer project manager and a stakeholder from the nonprofit.</p>
                <h4>How much money has freeCodeCamp saved nonprofits?</h4>
                <p class="negative-15">Our community has donated more than a million dollars worth of pro-bono coding for nonprofits so far.</p>
                <h4>Is there a way I can help nonprofits before I earn my certificates?</h4>
                <p class="negative-15">Yes. You can <a href="/commit">pledge a monthly donation</a> to a nonprofit of your choosing while you learn.</p>
                <h4>How long does freeCodeCamp take?</h4>
                <p class="negative-15">It takes about 2,080 hours to complete our Full Stack Developer certificate. This translates into one year of full-time coding. We’re completely self-paced though, so take as long as you need.</p>
                <h4>Is freeCodeCamp a replacement for a 4-year degree?</h4>
                <p class="negative-15">No. Please don’t drop out of college just to pursue freeCodeCamp. You can pursue both concurrently. Even though you don’t need a 4-year degree to work as a software developer, it still helps a lot.</p>
                <h4>I'm a teacher. Is freeCodeCamp an appropriate resource for my class?</h4>
                <p class="negative-15">Yes. Many high school, college, and adult ed programs incorporate freeCodeCamp into their coursework. We're open source, so no license or special permission from us is necessary. We're even building special tools for teachers.</p>
                <h4>Should I complete all of these challenges in order?</h4>
                <p class="negative-15">We’ve put a lot of thought into how we introduce concepts. But you’re free to jump around.</p>
                <h4>Do I have to use CodePen for the front end projects?</h4>
                <p class="negative-15">As long as your code is publicly viewable, and you have a live demo, you can use whatever you want.</p>
                <h4>When will you release the additional React, Sass, and D3 challenges?</h4>
                <p class="negative-15">We hope to release these in September 2016. In the meantime, other people have completed our React/Sass and D3 projects by referencing their official documentation.</p>
                <h4>How did freeCodeCamp get started?</h4>
                <p class="negative-15"><a href="https://www.quora.com/profile/Quincy-Larson" target="_blank">Quincy</a> started our open source community in 2014. He is now just one of many active contributors. You can read more in this <a href="https://medium.freecodecamp.com/how-i-made-my-first-million-dollars-in-pro-bono-code-86f911040484#.pgftldy1b" target="_blank">Medium story</a>.</p>
                <h4>How is freeCodeCamp incorporated?</h4>
                <p class="negative-15">Quincy set up a company in California called freeCodeCamp, Inc. to support the freeCodeCamp community. It pays for servers and other expenses. It also sponsors Quincy, <a href="https://gitter.im/berkeleytrue" target="_blank">Berkeley</a>, and <a href="https://gitter.im/codenonprofit" target="_blank">Michael</a>, who oversee infrastructure and nonprofit projects.</p>
                <h4>Can I get a job at freeCodeCamp?</h4>
                <p class="negative-15">We can't afford to hire anyone, but we can serve as a springboard for your next job. Our contributors have landed jobs at companies like GitHub and Spotify.</p>
                <h4>Can my company advertise on freeCodeCamp?</h4>
                <p class="negative-15">We don’t show ads.</p>
                <h4>Can I invest in freeCodeCamp?</h4>
                <p class="negative-15">We're self-funded and don't want outside investment.</p>
                <h4>Can I donate to freeCodeCamp?</h4>
                <p class="negative-15">We don’t accept donations. Instead, you should <a href="/shop" target="_blank">support us through our shop</a>.</p>

    .spacer
        .row
            .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
                h2.text-center Whom to contact for what
                table.table.table-stripe.response-table
                    tr
                        td Support (
                            a(href='mailto:team@freecodecamp.com') team@freecodecamp.com
                            | )
                        td
                            a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                    tr
                        td Facebook page
                        td
                            a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                    tr
                        td Twitter feed
                        td
                            a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                    tr
                        td Medium publication
                        td
                            a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                    tr
                        td Media inquiries
                        td
                            a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                    tr
                        td Open source codebase contributions
                        td
                            a(href='https://gitter.im/BerkeleyTrue' target='_blank') @BerkeleyTrue
                    tr
                        td Server problems
                        td
                            a(href='https://gitter.im/BerkeleyTrue' target='_blank') @BerkeleyTrue
                    tr
                        td Nonprofit projects
                        td
                            a(href='https://gitter.im/CodeNonprofit' target='_blank') @CodeNonprofit
                    tr
                        td Volunteer agile project managers
                        td
                            a(href='https://gitter.im/CodeNonprofit' target='_blank') @CodeNonprofit
                    tr
                        td Commit program
                        td
                            a(href='https://gitter.im/CodeNonprofit' target='_blank') @CodeNonprofit
                    tr
                        td Video challenge curriculum
                        td
                            a(href='https://gitter.im/BrianaMarie' target='_blank') @BrianaMarie
                            | &thinsp;/&thinsp;
                            a(href='https://gitter.im/atjonathan' target='_blank') @atjonathan
                    tr
                        td YouTube channel
                        td
                            a(href='https://gitter.im/Septimus' target='_blank') @Septimus
                            | &thinsp;/&thinsp;
                            a(href='https://gitter.im/atjonathan' target='_blank') @atjonathan
                    tr
                        td Core curriculum
                        td
                            a(href='https://gitter.im/HKuz' target='_blank') @HKuz
                    tr
                        td Data Science and Open Data
                        td
                            a(href='https://gitter.im/Evaristoc' target='_blank') @Evaristoc
                    tr
                        td CamperBot
                        td
                            a(href='https://gitter.im/LTegman' target='_blank') @LTegman
                    tr
                        td Translation and Internationalization
                        td
                            a(href='https://gitter.im/Vtamara' target='_blank') @Vtamara
                    tr
                        td Wiki
                        td
                            a(href='https://gitter.im/Rafase282' target='_blank') @Rafase282
                    tr
                        td Local groups
                        td
                            a(href='https://gitter.im/Hallaathrad' target='_blank') @Hallaathrad
                    tr
                        td Forum
                        td
                            a(href='https://gitter.im/m-henderson' target='_blank') @m-henderson
