extends ../layout
block content
        h2.text-center Projects Created by Free Code Camp Campers
        hr
        .row
            .col-xs-12.col-sm-10.col-sm-offset-1
                for project in projects
                    .spacer
                    .row
                        .col-xs-12.col-sm-3
                            img.img-responsive(src=project.image)
                        .col-xs-12.col-sm-9.negative-15
                            h3
                                a(href=project.url) #{project.name}
                            h4 by&thinsp;
                                a(href='/' + project.camper) #{project.camper}
                            p= project.description