doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")

  url
    loc http://www.freecodecamp.org/
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/nonprofits
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/pmi-acp-agile-project-managers
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/map
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/about
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/donate
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/stories
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/coding-bootcamp-cost-calculator
    changefreq monthly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/privacy
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/software-resources-for-nonprofits
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/the-fastest-web-page-on-the-internet
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/academic-honesty
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/code-of-conduct
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/how-nonprofit-projects-work
    changefreq weekly
    lastmod= now
    priority= 0.9

  each challenge in challenges
    url
      loc #{appUrl}/challenges/#{challenge}
      lastmod= now
      changefreq weekly
      priority= 0.9
