doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")

  url
    loc http://www.freecodecamp.org/
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/nonprofits
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/donate
    changefreq monthly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/shop
    changefreq monthly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/pmi-acp-agile-project-managers
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/map
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/coding-bootcamp-cost-calculator
    changefreq monthly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/hour-of-code
    changefreq monthly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.org/code-of-conduct
    changefreq monthly
    lastmod= now
    priority= 0.9

  each challenge in challenges
    url
      loc #{appUrl}/challenges/#{challenge}
      lastmod= now
      changefreq weekly
      priority= 0.9

