doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")

  url
    loc http://www.freecodecamp.com/
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/nonprofits
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/pmi-acp-agile-project-managers
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/map
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/about
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/shop
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/stories
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/coding-bootcamp-cost-calculator
    changefreq monthly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/privacy
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/software-resources-for-nonprofits
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/the-fastest-web-page-on-the-internet
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/academic-honesty
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/code-of-conduct
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.freecodecamp.com/how-nonprofit-projects-work
    changefreq weekly
    lastmod= now
    priority= 0.9

  each challenge in challenges
    url
      loc #{appUrl}/challenges/#{challenge}
      lastmod= now
      changefreq weekly
      priority= 0.9
