extends ../layout

block content
    .panel
        .container
          h1 Update your profile here:
          .animated.flipInX
              form.form-horizontal(action='/account/profile', method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                  label.col-sm-2.control-label(for='name') Name
                  .col-sm-4
                    input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
                //.form-group
                  label.col-sm-2.control-label(for='username') Username
                  .col-sm-4
                    input.form-control(type='text', name='username', id='username', value='#{user.profile.username}')
                .form-group
                  label.col-sm-2.control-label(for='email') Email
                  .col-sm-4
                    input.form-control(type='email', name='email', id='email', value='#{user.email}')
                .form-group
                  label.col-sm-2.control-label(for='location') Location
                  .col-sm-4
                    input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
                .form-group
                  label.col-sm-2.control-label(for='website') Website
                  .col-sm-4
                    input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
                .form-group
                  .col-sm-offset-2.col-sm-4
                    button.btn.btn.btn-primary(type='submit')
                      span.ion-edit
                      | Update my profile

          h1 Completed Challenges
          .col-xs-12
            table.table.table-striped
              thead
                tr
                  th Challenge
                  th Date Finished
              if cc[0] > 0
                tr
                  td A One-minute Introduction to Free Code Camp
                  td=moment(cc[0], 'X').format("MMM DD, YYYY")
              if cc[1] > 0
                tr
                  td Enter the Free Code Camp Chat Room
                  td=moment(cc[1], 'X').format("MMM DD, YYYY")
              if cc[2] > 0
                tr
                  td Create a Website and Deploy it to the Internet
                  td=moment(cc[2], 'X').format("MMM DD, YYYY")
              if cc[3] > 0
                tr
                  td Install Github's Atom Text Editor
                  td=moment(cc[3], 'X').format("MMM DD, YYYY")
              if cc[4] > 0
                tr
                  td Modify and Redeploy Your Website
                  td=moment(cc[4], 'X').format("MMM DD, YYYY")
              if cc[5] > 0
                tr
                  td Add Dynamic Content to your Website
                  td=moment(cc[5], 'X').format("MMM DD, YYYY")
              if cc[6] > 0
                tr
                  td Codecademy's HTML & CSS track
                  td=moment(cc[6], 'X').format("MMM DD, YYYY")
              if cc[7] > 0
                tr
                  td Experiment with HTML and CSS in CodePen
                  td=moment(cc[7], 'X').format("MMM DD, YYYY")
              if cc[8] > 0
                tr
                  td Codecademy's jQuery track
                  td=moment(cc[8], 'X').format("MMM DD, YYYY")
              if cc[9] > 0
                tr
                  td Code School's Try jQuery
                  td=moment(cc[9], 'X').format("MMM DD, YYYY")
              if cc[10] > 0
                tr
                  td Code School's Discover DevTools
                  td=moment(cc[10], 'X').format("MMM DD, YYYY")
              if cc[11] > 0
                tr
                  td jQuery Exercises
                  td=moment(cc[11], 'X').format("MMM DD, YYYY")
              if cc[12] > 0
                tr
                  td Customize Bootstrap with Bootswatch
                  td=moment(cc[12], 'X').format("MMM DD, YYYY")
              if cc[13] > 0
                tr
                  td Inject Life with CSS Transformations
                  td=moment(cc[13], 'X').format("MMM DD, YYYY")
              if cc[14] > 0
                tr
                  td Codecademy's JavaScript track
                  td=moment(cc[14], 'X').format("MMM DD, YYYY")
              if cc[15] > 0
                tr
                  td Stanford's Introduction to Computer Science
                  td=moment(cc[15], 'X').format("MMM DD, YYYY")
              if cc[16] > 0
                tr
                  td Get Help The Hacker Way with RSAP
                  td=moment(cc[16], 'X').format("MMM DD, YYYY")
              if cc[17] > 0
                tr
                  td Learn Regular Expressions
                  td=moment(cc[17], 'X').format("MMM DD, YYYY")
              if cc[18] > 0
                tr
                  td Start Your First Pair Programming Session
                  td=moment(cc[18], 'X').format("MMM DD, YYYY")
              if cc[19] > 0
                tr
                  td Easy Algorithm Scripting Challenges on Coderbyte
                  td=moment(cc[19], 'X').format("MMM DD, YYYY")
              if cc[20] > 0
                tr
                  td Stanford's Relational Databases Mini-course
                  td=moment(cc[20], 'X').format("MMM DD, YYYY")
              if cc[21] > 0
                tr
                  td Stanford's SQL Mini-course
                  td=moment(cc[21], 'X').format("MMM DD, YYYY")
              if cc[22] > 0
                tr
                  td Stanford's JSON Mini-course
                  td=moment(cc[22], 'X').format("MMM DD, YYYY")
              if cc[23] > 0
                tr
                  td Medium Algorithm Scripting Challenges on Coderbyte
                  td=moment(cc[23], 'X').format("MMM DD, YYYY")
              if cc[24] > 0
                tr
                  td Build an Interview Question Machine
                  td=moment(cc[24], 'X').format("MMM DD, YYYY")
              if cc[25] > 0
                tr
                  td Build a Text-based Adventure
                  td=moment(cc[25], 'X').format("MMM DD, YYYY")
              if cc[26] > 0
                tr
                  td Hard Algorithm Scripting Challenges on Coderbyte
                  td=moment(cc[26], 'X').format("MMM DD, YYYY")
              if cc[27] > 0
                tr
                  td Code School's Try Git
                  td=moment(cc[27], 'X').format("MMM DD, YYYY")
              if cc[28] > 0
                tr
                  td Install Node.js
                  td=moment(cc[28], 'X').format("MMM DD, YYYY")
              if cc[29] > 0
                tr
                  td Clone a Github Repo
                  td=moment(cc[29], 'X').format("MMM DD, YYYY")
              if cc[30] > 0
                tr
                  td Deploy an app to Heroku
                  td=moment(cc[30], 'X').format("MMM DD, YYYY")
              if cc[31] > 0
                tr
                  td Code School's Real-time web with Node.JS
                  td=moment(cc[31], 'X').format("MMM DD, YYYY")
              if cc[32] > 0
                tr
                  td Try MongoDB
                  td=moment(cc[32], 'X').format("MMM DD, YYYY")
              if cc[33] > 0
                tr
                  td Explore your Network with the LinkedIn API
                  td=moment(cc[33], 'X').format("MMM DD, YYYY")
              if cc[34] > 0
                tr
                  td Build your first API
                  td=moment(cc[34], 'X').format("MMM DD, YYYY")
              if cc[35] > 0
                tr
                  td Aggregate Data with Chron Jobs and Screen Scraping
                  td=moment(cc[35], 'X').format("MMM DD, YYYY")
              if cc[36] > 0
                tr
                  td Code School's Shaping up with Angular.JS
                  td=moment(cc[36], 'X').format("MMM DD, YYYY")
              if cc[37] > 0
                tr
                  td Reverse Engineer SnapChat
                  td=moment(cc[37], 'X').format("MMM DD, YYYY")
              if cc[38] > 0
                tr
                  td Reverse Engineer Reddit
                  td=moment(cc[38], 'X').format("MMM DD, YYYY")
              if cc[39] > 0
                tr
                  td Reverse Engineer Pintrest
                  td=moment(cc[39], 'X').format("MMM DD, YYYY")
              if cc[40] > 0
                tr
                  td Help a Nonprofit: Team Project
                  td=moment(cc[40], 'X').format("MMM DD, YYYY")
              if cc[41] > 0
                tr
                  td Help a Nonprofit: Solo Project
                  td=moment(cc[41], 'X').format("MMM DD, YYYY")
              if cc[42] > 0
                tr
                  td Crack the Coding Interview
                  td=moment(cc[42], 'X').format("MMM DD, YYYY")
          h3 Danger Zone
          button.btn.btn-danger.confirm-deletion
            span.ion-trash-b
            | I want to delete my account
          script.
              $('.confirm-deletion').on("click", function() {
                $('#modal-dialog').modal('show');
              });
          #modal-dialog.modal.animated.wobble
              .modal-dialog
                  .modal-content
                      .modal-header
                          a.close(href='#', data-dismiss='modal', aria-hidden='true') ×
                          h3 Are you really leaving us?
                      .modal-body
                          p Pro Tip: If you tweet feedback to&nbsp;
                              a(href="https://twitter.com/intent/tweet?text=Hey%20@freecodecamp") @FreeCodeCamp
                              | ,&nbsp;we'll act quickly on it!
                      .modal-footer
                          a.btn.btn-success.btn-block(href='#', data-dismiss='modal', aria-hidden='true')
                              span.ion-happy
                              | Nevermind, I'll stick around
                          br
                          form(action='/account/delete', method='POST')
                              input(type='hidden', name='_csrf', value=_csrf)
                              button.btn.btn-danger.btn-block(type='submit')
                                  span.ion-trash-b
                                  | Yes, Delete my account
          br
          br