extends ../layout

block content
    .panel
        .container.text-center
          h1 Update your profile here:
          .animated.flipInX
              form.form-horizontal(action='/account/profile', method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                  label.col-sm-3.col-sm-offset-2.control-label(for='name') Name
                  .col-sm-4
                    input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
                .form-group
                  label.col-sm-3.col-sm-offset-2.control-label(for='username') Username (use letters, numbers, underscore) *
                  .col-sm-4
                    input.form-control(type='text', name='username', id='username', value='#{user.profile.username}')
                .form-group
                  label.col-sm-3.col-sm-offset-2.control-label(for='email') Email *
                  .col-sm-4
                    input.form-control(type='email', name='email', id='email', value='#{user.email}')
                .form-group
                  label.col-sm-3.col-sm-offset-2.control-label(for='location') Location
                  .col-sm-4
                    input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
                .form-group
                  label.col-sm-3.col-sm-offset-2.control-label(for='website') Website
                  .col-sm-4
                    input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
                .form-group
                  .col-sm-offset-2.col-sm-4
                    button.btn.btn.btn-primary(type='submit')
                      span.ion-edit
                      | Update my profile
    .panel
        .big-break
        .container.text-center
            a.btn.btn-cta.signup-btn(href='/') Take me to my current challenge
        .big-break
        .container.text-center
            a.btn.btn-default.btn-big(href='/logout') Sign out
        .big-break

    - if (!user.google || !user.facebook || !user.github || !user.linkedin || !user.twitter)
        .panel
            .container.text-center
                h1 Link other services to your account:
                - if (!user.google)
                    .col-xs-12
                        a.btn.btn-lg.btn-block.btn-google-plus.btn-link-social(href='/auth/google')
                            i.fa.fa-google-plus
                            | Link Google with your account
                - if (!user.facebook)
                    .col-xs-12
                        a.btn.btn-lg.btn-block.btn-facebook.btn-link-social(href='/auth/facebook')
                            i.fa.fa-facebook
                            | Link Facebook with your account
                - if (!user.github)
                    .col-xs-12
                        a.btn.btn-lg.btn-block.btn-github.btn-link-social(href='/auth/github')
                            i.fa.fa-github
                            | Link GitHub with your account
                - if (!user.linkedin)
                    .col-xs-12
                        a.btn.btn-lg.btn-block.btn-linkedin.btn-link-social(href='/auth/linkedin')
                            i.fa.fa-linkedin
                            | Link LinkedIn with your account
                - if (!user.twitter)
                    .col-xs-12
                        a.btn.btn-lg.btn-block.btn-twitter.btn-link-social(href='/auth/twitter')
                            i.fa.fa-twitter
                            | Link Twitter with your account
            br
    - if (ch[0] > 0)
        .panel
            .container
                h1 Completed Challenges
                .col-xs-12
                  table.table.table-striped
                    thead
                      tr
                        th Challenge
                        th Date Finished
                    for challenge in challenges
                      if ch[challenge.challengeNumber] > 0
                        tr
                          td= challenges[challenge.challengeNumber].name
                          td= moment(ch[challenge.challengeNumber], 'X').format("MMM DD, YYYY")
            br
    .panel
        .container
          h3 Danger Zone
          button.btn.btn-danger.confirm-deletion
            span.ion-trash-b
            | I want to delete my account
          br
          br
          script.
              $('.confirm-deletion').on("click", function() {
                $('#modal-dialog').modal('show');
              });
          #modal-dialog.modal.animated.wobble
              .modal-dialog
                  .modal-content
                      .modal-header
                          a.close(href='#', data-dismiss='modal', aria-hidden='true') ×
                          h3 Are you really leaving us?
                      .modal-body
                          p Pro Tip: If you tweet feedback to&nbsp;
                              a(href="https://twitter.com/intent/tweet?text=Hey%20@freecodecamp") @FreeCodeCamp
                              | ,&nbsp;we'll act quickly on it!
                      .modal-footer
                          a.btn.btn-success.btn-block(href='#', data-dismiss='modal', aria-hidden='true')
                              span.ion-happy
                              | Nevermind, I'll stick around
                          br
                          form(action='/account/delete', method='POST')
                              input(type='hidden', name='_csrf', value=_csrf)
                              button.btn.btn-danger.btn-block(type='submit')
                                  span.ion-trash-b
                                  | Yes, Delete my account
