extends ../layout
block content
    .row
        .col-sm-12.col-md-8.col-xs-12
            .panel.panel-primary
                .panel-heading.text-center @#{username}'s Portfolio:
                .panel-body
        .col-sm-12.col-md-4.col-xs-12
            .panel.panel-primary
                .panel-heading.text-center About @#{username}:
                .panel-body
                    .col-xs-12
                        img.img-center.img-responsive.public-profile-img(src=picture)
                    .row
                        .col-xs-4
                            h1.text-center
                                = "[ " + user.points + " ]"
                        .col-xs-8
                            h1
                                - if (twitterHandle)
                                    a.ion-social-twitter.text-primary(title="@#{username}'s Twitter Profile", href="http://twitter.com/#{twitterHandle}")
                                a.ion-social-github.text-primary(title="@#{username}'s GitHub Profile", href=githubProfile)
                                a.ion-social-linkedin.text-primary(title="@#{username}'s LinkedIn Profile", href=linkedinProfile)
                                a.ion-social-codepen.text-primary(title="@#{username}'s CodePen Profile", href=codepenProfile)
                                a.ion-social-javascript.text-primary(title="@#{username}'s CoderByte Profile", href=coderbyteProfile)
                    .col-xs-12
                        h2= name
                        h3= location
                        - if (ch[0] > 0)
                            .container
                                h1 Completed Challenges
                                .col-xs-12
                                    table.table.table-striped
                                        thead
                                            tr
                                                th Challenge
                                                th Date Finished
                                for challenge in challenges
                                    if ch[challenge.challengeNumber] > 0
                                        tr
                                            td= challenges[challenge.challengeNumber].name
                                            td= moment(ch[challenge.challengeNumber], 'X').format("MMM DD, YYYY")
                                br