script(type='text/javascript', src='/js/lib/jailed/jailed.js')
script(src=rev('/js', 'vendor-challenges.js'))
script(src=rev('/js', 'commonFramework.js'))
script.
  if (typeof localStorage !== 'undefined') {
    localStorage.setItem('currentDashedName', typeof common !== 'undefined' && common.dashedName || '');
  }
aside.map-aside.is-collapsed
  .map-aside-action-bar
      a.map-aside-action-item.map-aside-action-pop-out(href='/map' target='_blank' aria-label='open map in new tap')
      button.map-aside-action-item.map-aside-action-collapse(aria-label='close map aside')
  .map-aside-container
      .col-xs-10.col-xs-offset-1
          for superBlock, index in superBlocks
            for challengeBlock in superBlock.blocks
              h4.bold #{challengeBlock.name} (#{challengeBlock.time})
              for challenge in challengeBlock.challenges
                  if challenge.completed
                      p.text-primary.ion-checkmark-circled.padded-ionic-icon.negative-15(name="#{challenge.dashedName}") &nbsp;
                          a(href="/challenges/#{challenge.dashedName}")
                              = challenge.title
                              span.sr-only= " Complete"
                  else
                      if challenge.type === "bonfire"
                          p.ion-asterisk.padded-ionic-icon.negative-15(name="#{challenge.dashedName}") &nbsp;
                              a(name="#{challenge.dashedName}" href="/challenges/#{challenge.dashedName}" class=challenge.isComingSoon ? 'disabled' : '')
                                  span= challenge.title
                                  span.sr-only= " Incomplete"
                              if challenge.markNew
                                  span.text-success.small &thinsp; &thinsp;
                                      strong
                                          em New
                              if challengeBlock.isComingSoon
                                  span.text-success.small &thinsp; &thinsp;
                                      strong
                                          em Coming Soon
                      else
                          p.ion-ios-circle-outline.padded-ionic-icon.negative-15(name="#{challenge.dashedName}") &nbsp;
                              a(name="#{challenge.dashedName}" href="/challenges/#{challenge.dashedName}" class=challenge.isComingSoon ? 'disabled' : '')
                                  span= challenge.title
                                  span.sr-only= " Incomplete"
                              if challenge.markNew
                                  span.text-success.small &thinsp; &thinsp;
                                      strong
                                          em New
                              if challengeBlock.isComingSoon
                                  span.text-success.small &thinsp; &thinsp;
                                      strong
                                          em Coming Soon
                if (index < superBlocks.length)
                  hr
