.panel.panel-primary
    .panel-heading Challenges
    .panel-body
        ol(start='0')
                li
                    a(href="/challenges/0", class="#{ cc[0] > 0 ? 'strikethrough' : '' }") Learn how Free Code Camp Works
                    | &nbsp; (2 minutes)
                li
                    a(href="/challenges/1", class="#{ cc[1] > 0 ? 'strikethrough' : '' }") Join Our Chat Room
                    | &nbsp; (5 minutes)
                li
                    a(href="/challenges/2", class="#{ cc[2] > 0 ? 'strikethrough' : '' }") Subscribe to Our Subreddit
                    | &nbsp; (5 minutes)
                li
                    a(href="/challenges/3", class="#{ cc[3] > 0 ? 'strikethrough' : '' }") Build a Personal Website
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/4", class="#{ cc[4] > 0 ? 'strikethrough' : '' }") Build a Responsive Blog Theme
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/5", class="#{ cc[5] > 0 ? 'strikethrough' : '' }") Build a Small Business Website
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/6", class="#{ cc[6] > 0 ? 'strikethrough' : '' }") Tweak HTML and CSS in CodePen
                    | &nbsp; (10 minutes)
                li
                    a(href="/challenges/7", class="#{ cc[7] > 0 ? 'strikethrough' : '' }") Build a CSS Robot
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/8", class="#{ cc[8] > 0 ? 'strikethrough' : '' }") Get Started with jQuery
                    | &nbsp; (30 minutes)
                li
                    a(href="/challenges/9", class="#{ cc[9] > 0 ? 'strikethrough' : '' }") Traverse the DOM
                    | &nbsp; (30 minutes)
                li
                    a(href="/challenges/10", class="#{ cc[10] > 0 ? 'strikethrough' : '' }") Work with the DOM
                    | &nbsp; (30 minutes)
                li
                    a(href="/challenges/11", class="#{ cc[11] > 0 ? 'strikethrough' : '' }") Listen for DOM Events
                    | &nbsp; (30 minutes)
                li
                    a(href="/challenges/12", class="#{ cc[12] > 0 ? 'strikethrough' : '' }") Use jQuery for Styling
                    | &nbsp; (30 minutes)
                li
                    a(href="/challenges/13", class="#{ cc[13] > 0 ? 'strikethrough' : '' }") Build a MadLibs Game
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/14", class="#{ cc[14] > 0 ? 'strikethrough' : '' }") Discover Chrome's DevTools
                    | &nbsp; (90 minutes)
                li
                    a(href="/challenges/15", class="#{ cc[15] > 0 ? 'strikethrough' : '' }") Tackle jQuery Exercises
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/16", class="#{ cc[16] > 0 ? 'strikethrough' : '' }") Customize Bootstrap
                    | &nbsp; (10 minutes)
                li
                    a(href="/challenges/17", class="#{ cc[17] > 0 ? 'strikethrough' : '' }") Inject Animation into CSS
                    | &nbsp; (15 minutes)
                li
                    a(href="/challenges/18", class="#{ cc[18] > 0 ? 'strikethrough' : '' }") Learn Basic Computer Science
                    | &nbsp; (120 minutes)
                li
                    a(href="/challenges/19", class="#{ cc[19] > 0 ? 'strikethrough' : '' }") Learn Loops
                    | &nbsp; (120 minutes)
                li
                    a(href="/challenges/20", class="#{ cc[20] > 0 ? 'strikethrough' : '' }") Learn Computer Hardware
                    | &nbsp; (120 minutes)
                li
                    a(href="/challenges/21", class="#{ cc[21] > 0 ? 'strikethrough' : '' }") Learn Computer Networking
                    | &nbsp; (120 minutes) 
                li
                    a(href="/challenges/22", class="#{ cc[22] > 0 ? 'strikethrough' : '' }") Learn Boolean Logic
                    | &nbsp; (120 minutes)
                li
                    a(href="/challenges/23", class="#{ cc[23] > 0 ? 'strikethrough' : '' }") Learn Computer Security
                    | &nbsp; (120 minutes)
                li
                    a(href="/challenges/24", class="#{ cc[24] > 0 ? 'strikethrough' : '' }") Build an Adventure Game
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/25", class="#{ cc[25] > 0 ? 'strikethrough' : '' }") Build Rock Paper Scissors
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/26", class="#{ cc[26] > 0 ? 'strikethrough' : '' }") Learn JavaScript For Loops
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/27", class="#{ cc[27] > 0 ? 'strikethrough' : '' }") Learn JavaScript While Loops
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/28", class="#{ cc[28] > 0 ? 'strikethrough' : '' }") Learn Control Flow
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/29", class="#{ cc[29] > 0 ? 'strikethrough' : '' }") Build a Contact List
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/30", class="#{ cc[30] > 0 ? 'strikethrough' : '' }") Build an Address Book
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/31", class="#{ cc[31] > 0 ? 'strikethrough' : '' }") Build a Cash Register
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/32", class="#{ cc[32] > 0 ? 'strikethrough' : '' }") Get Help the Hacker Way
                    | &nbsp; (30 minutes)
                li
                    a(href="/challenges/33", class="#{ cc[33] > 0 ? 'strikethrough' : '' }") Learn Regular Expressions
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/34", class="#{ cc[34] > 0 ? 'strikethrough' : '' }") Pair Program on CoderByte
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/35", class="#{ cc[35] > 0 ? 'strikethrough' : '' }") Learn Relational Database Theory
                    | &nbsp; (30 minutes)
                li
                    a(href="/challenges/36", class="#{ cc[36] > 0 ? 'strikethrough' : '' }") Pair Program to Query SQL pt 1
                    | &nbsp; (90 minutes)
                li
                    a(href="/challenges/37", class="#{ cc[37] > 0 ? 'strikethrough' : '' }") Pair Program to Query SQL pt 2
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/38", class="#{ cc[38] > 0 ? 'strikethrough' : '' }") Pair Program to modify SQL pt 1
                    | &nbsp; (90 minutes)
                li
                    a(href="/challenges/39", class="#{ cc[39] > 0 ? 'strikethrough' : '' }") Pair Program to modify SQL pt 2
                    | &nbsp; (60 minutes)
                li
                    a(href="/challenges/40", class="#{ cc[40] > 0 ? 'strikethrough' : '' }") Learn JSON
                    | &nbsp; (30 minutes)
                li
                    a(href="/challenges/41", class="#{ cc[41] > 0 ? 'strikethrough' : '' }") Manage Source Code with Git
                    | &nbsp; (30 minutes)
                li
                    a(href="/challenges/42", class="#{ cc[42] > 0 ? 'strikethrough' : '' }") Get Started with Node.js
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/43", class="#{ cc[43] > 0 ? 'strikethrough' : '' }") Try Node.js Events
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/44", class="#{ cc[44] > 0 ? 'strikethrough' : '' }") Try Node.js Streams
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/45", class="#{ cc[45] > 0 ? 'strikethrough' : '' }") Learn how Node.js Modules Work
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/46", class="#{ cc[46] > 0 ? 'strikethrough' : '' }") Start an Express.js Server
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/47", class="#{ cc[47] > 0 ? 'strikethrough' : '' }") Use Socket.io
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/48", class="#{ cc[48] > 0 ? 'strikethrough' : '' }") Use Redis to Persist Data
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/49", class="#{ cc[49] > 0 ? 'strikethrough' : '' }") Dive Deeper into Express.js
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/50", class="#{ cc[50] > 0 ? 'strikethrough' : '' }") Set up Express.js Middleware
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/51", class="#{ cc[51] > 0 ? 'strikethrough' : '' }") Take Advantage of Parameters
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/52", class="#{ cc[52] > 0 ? 'strikethrough' : '' }") Add the Body Parser
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/53", class="#{ cc[53] > 0 ? 'strikethrough' : '' }") Configure Routes in Express.js
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/54", class="#{ cc[54] > 0 ? 'strikethrough' : '' }") Try MongoDB
                    | &nbsp; (30 minutes)
                li
                    a(href="/challenges/55", class="#{ cc[55] > 0 ? 'strikethrough' : '' }") Get Started with Angular.js
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/56", class="#{ cc[56] > 0 ? 'strikethrough' : '' }") Apply Angular.js Directives
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/57", class="#{ cc[57] > 0 ? 'strikethrough' : '' }") Power Forms with Angular.js
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/58", class="#{ cc[58] > 0 ? 'strikethrough' : '' }") Customize Angular.js Directives
                    | &nbsp; (45 minutes)
                li
                    a(href="/challenges/59", class="#{ cc[59] > 0 ? 'strikethrough' : '' }") Create Angular.js Services
                    | &nbsp; (45 minutes)

        a.btn.btn-primary(href="/done-with-first-100-hours", class="#{ cc[59] > 0 ? '' : 'disabled' }") I've finished all Free Code Camp challenges and all the Easy and Medium CoderByte Challenges