.panel.panel-primary
    .panel-heading Challenges
    .panel-body
        ol(start='0')
            li
                a(href="/challenges/0", class="#{ cc.indexOf(0) > -1 ? 'strikethrough' : '' }") A One-minute Introduction to Free Code Camp
                | &nbsp; (1 min)
            li
                a(href="/challenges/1", class="#{ cc.indexOf(1) > -1 ? 'strikethrough' : '' }") Enter the Free Code Camp Chat Room
                | &nbsp; (15 mins)
            li
                a(href="/challenges/2", class="#{ cc.indexOf(2) > -1 ? 'strikethrough' : '' }") Create a Website and Deploy it to the Internet
                | &nbsp; (5 mins)
            li
                a(href="/challenges/3", class="#{ cc.indexOf(3) > -1 ? 'strikethrough' : '' }") Install Github's Atom Text Editor
                | &nbsp; (5 mins)
            li
                a(href="/challenges/4", class="#{ cc.indexOf(4) > -1 ? 'strikethrough' : '' }") Modify and Redeploy Your Website
                | &nbsp; (5 mins)
            li
                a(href="/challenges/5", class="#{ cc.indexOf(5) > -1 ? 'strikethrough' : '' }") Add Dynamic Content to your Website
                | &nbsp; (10 mins)
            li
                a(href="/challenges/6", class="#{ cc.indexOf(6) > -1 ? 'strikethrough' : '' }") Codecademy's HTML & CSS track
                | &nbsp; (7 hrs)
            li
                a(href="/challenges/7", class="#{ cc.indexOf(7) > -1 ? 'strikethrough' : '' }") Experiment with HTML and CSS in CodePen
                | &nbsp; (10 mins)
            li
                a(href="/challenges/8", class="#{ cc.indexOf(8) > -1 ? 'strikethrough' : '' }") Code School's Try jQuery
                | &nbsp; (4 hrs)
            li
                a(href="/challenges/9", class="#{ cc.indexOf(9) > -1 ? 'strikethrough' : '' }") Code School's Discover DevTools
                | &nbsp; (2 hrs)
            li
                a(href="/challenges/10", class="#{ cc.indexOf(10) > -1 ? 'strikethrough' : '' }") jQuery Exercises
                | &nbsp; (1 hr)
            li
                a(href="/challenges/11", class="#{ cc.indexOf(11) > -1 ? 'strikethrough' : '' }") Customize Bootstrap with Bootswatch
                | &nbsp; (10 mins)
            li
                a(href="/challenges/12", class="#{ cc.indexOf(12) > -1 ? 'strikethrough' : '' }") Inject Life with CSS Transformations
                | &nbsp; (15 mins)
            li
                a(href="/challenges/13", class="#{ cc.indexOf(13) > -1 ? 'strikethrough' : '' }") Codecademy's JavaScript track
                | &nbsp; (10 hrs)
            li
                a(href="/challenges/14", class="#{ cc.indexOf(14) > -1 ? 'strikethrough' : '' }") Stanford's Introduction to Computer Science
                | &nbsp; (24 hrs)
            li
                a(href="/challenges/15", class="#{ cc.indexOf(15) > -1 ? 'strikethrough' : '' }") Get Help The Hacker Way with RSAP
                | &nbsp; (30 mins)
            li
                a(href="/challenges/16", class="#{ cc.indexOf(16) > -1 ? 'strikethrough' : '' }") Learn Regular Expressions
                | &nbsp; (1 hr)
            li
                a(href="/challenges/17", class="#{ cc.indexOf(17) > -1 ? 'strikethrough' : '' }") Start Your First Pair Programming Session
                | &nbsp; (30 mins | Pair)
            li
                a(href="/challenges/18", class="#{ cc.indexOf(18) > -1 ? 'strikethrough' : '' }") Easy Algorithm Scripting Challenges on Coderbyte
                | &nbsp; (15 hrs | Pair)
            li
                a(href="/challenges/19", class="#{ cc.indexOf(19) > -1 ? 'strikethrough' : '' }") Stanford's Relational Databases Mini-course
                | &nbsp; (1 hr)
            li
                a(href="/challenges/20", class="#{ cc.indexOf(20) > -1 ? 'strikethrough' : '' }") Stanford's SQL Mini-course
                | &nbsp; (4 hrs | Pair)
            li
                a(href="/challenges/21", class="#{ cc.indexOf(21) > -1 ? 'strikethrough' : '' }") Stanford's JSON Mini-course
                | &nbsp; (1 hrs | Pair)
            li
                a(href="/challenges/22", class="#{ cc.indexOf(22) > -1 ? 'strikethrough' : '' }") Medium Algorithm Scripting Challenges on Coderbyte
                | &nbsp; (15 hrs | Pair)
            li
                a.disabled(href="/challenges/23", class="#{ cc.indexOf(23) > -1 ? 'strikethrough' : '' }") Build an Interview Question Machine
                | &nbsp; (5 hrs | Pair)
            li
                a.disabled(href="/challenges/24", class="#{ cc.indexOf(24) > -1 ? 'strikethrough' : '' }") Build a Text-based Adventure
                | &nbsp; (5 hrs | Pair)
            li
                a.disabled(href="/challenges/25", class="#{ cc.indexOf(25) > -1 ? 'strikethrough' : '' }") Hard Algorithm Scripting Challenges on Coderbyte
                | &nbsp; (15 hrs | Pair)
            li
                a.disabled(href="/challenges/26", class="#{ cc.indexOf(26) > -1 ? 'strikethrough' : '' }") Code School's Try Git
                | &nbsp; (30 mins)
            li
                a.disabled(href="/challenges/27", class="#{ cc.indexOf(27) > -1 ? 'strikethrough' : '' }") Install Node.js
                | &nbsp; (1 hr)
            li
                a.disabled(href="/challenges/28", class="#{ cc.indexOf(28) > -1 ? 'strikethrough' : '' }") Clone a Github Repo
                | &nbsp; (15 mins)
            li
                a.disabled(href="/challenges/29", class="#{ cc.indexOf(29) > -1 ? 'strikethrough' : '' }") Deploy an app to Heroku
                | &nbsp; (15 mins)
            li
                a.disabled(href="/challenges/30", class="#{ cc.indexOf(30) > -1 ? 'strikethrough' : '' }") Code School's Real-time web with Node.JS
                | &nbsp; (5 hrs)
            li
                a.disabled(href="/challenges/31", class="#{ cc.indexOf(31) > -1 ? 'strikethrough' : '' }") Try MongoDB
                | &nbsp; (30 mins)
            li
                a.disabled(href="/challenges/32", class="#{ cc.indexOf(32) > -1 ? 'strikethrough' : '' }") Explore your Network with the LinkedIn API
                | &nbsp; (1 hr)
            li
                a.disabled(href="/challenges/33", class="#{ cc.indexOf(33) > -1 ? 'strikethrough' : '' }") Build your first API
                | &nbsp; (10 hrs | Pair)
            li
                a.disabled(href="/challenges/34", class="#{ cc.indexOf(34) > -1 ? 'strikethrough' : '' }") Aggregate Data with Chron Jobs and Screen Scraping
                | &nbsp; (10 hrs | Pair)
            li
                a.disabled(href="/challenges/35", class="#{ cc.indexOf(35) > -1 ? 'strikethrough' : '' }") Code School's Shaping up with Angular.JS
                | &nbsp; (5 hrs)
            li
                a.disabled(href="/challenges/36", class="#{ cc.indexOf(36) > -1 ? 'strikethrough' : '' }") Reverse Engineer SnapChat
                | &nbsp; (50 hrs | Pair)
            li
                a.disabled(href="/challenges/37", class="#{ cc.indexOf(37) > -1 ? 'strikethrough' : '' }") Reverse Engineer Reddit
                | &nbsp; (50 hrs | Pair)
            li
                a.disabled(href="/challenges/38", class="#{ cc.indexOf(38) > -1 ? 'strikethrough' : '' }") Reverse Engineer Pintrest
                | &nbsp; (50 hrs | Pair)
            li
                a.disabled(href="/challenges/39", class="#{ cc.indexOf(39) > -1 ? 'strikethrough' : '' }") Help a Nonprofit: Team Project
                | &nbsp; (150 hrs | Pair)
            li
                a.disabled(href="/challenges/40", class="#{ cc.indexOf(40) > -1 ? 'strikethrough' : '' }") Help a Nonprofit: Solo Project
                | &nbsp; (150 hrs | Pair)
            li
                a.disabled(href="/challenges/41", class="#{ cc.indexOf(41) > -1 ? 'strikethrough' : '' }") Crack the Coding Interview
                | &nbsp; (5 hrs)