.navbar-header
    button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        .col-xs-6
            span.hamburger-text Menu
        .col-xs-6
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
    a.navbar-brand(href='/')
        img.img-responsive.nav-logo(src='https://s3.amazonaws.com/freecodecamp/freecodecamp_logo.svg', alt='learn to code javascript at Free Code Camp logo')
.collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-right.hamburger-dropdown
        li
            a(href='/challenges') Challenges
        li
            a(href='/chat') Chat
        li
            a(href='http://forum.freecodecamp.com' target='_blank') Forum
        li
            a(href='/bonfires') Bonfires
        //li
        //    a(href="#" onclick="TogetherJS(this); return false;") Pair
        if !user
            li &nbsp; &nbsp; &nbsp;
            li
                a.btn.signup-btn.signup-btn-nav(href='/login') Sign in
        else
            li
                if (user.profile.username)
                    a(href='/' + user.profile.username) [&nbsp;#{user.points}&nbsp;]
                else
                    a(href='/account') [&nbsp;#{user.points}&nbsp;]
            .hidden-xs
                if user.profile.picture
                    if (user.profile.username)
                        a(href='/' + user.profile.username)
                            img.profile-picture.float-right(src='#{user.profile.picture}')
                    else
                        a(href='/account')
                            img.profile-picture.float-right(src='#{user.profile.picture}')
                else
                    if (user.profile.username)
                        a(href='/' + user.profile.username)
                            img.profile-picture.float-right(src='#{user.gravatar(60)}')
                    else
                        a(href='/account')
                            img.profile-picture.float-right(src='#{user.gravatar(60)}')