.navbar.navbar-default.navbar-fixed-top.nav-height
  .container
    .navbar-header
      if user
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      a.navbar-brand(href='/')
        img.img-responsive.nav-logo(src='https://s3.amazonaws.com/freecodecamp/freecodecamp_logo.svg')
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if !user
          a.btn.btn-primary.btn-nav.btn-sm(href='/login') Sign in
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle.text-center(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;[&nbsp;#{user.points}&nbsp;]
              i.caret
            ul.dropdown-menu.text-right
              li.hamburger
                a(href='/')
                    span.ion-map
                    | My Challenges
              li.hamburger
                a(href='/account')
                  span.ion-person
                  | My Account
              li.hamburger
                a(href='/logout')
                  span.ion-log-out
                  | Logout