h2.stats-text
    .row
        .col-xs-6.text-right Days since we launched:
        .col-xs-6.text-left= daysRunning
    .row
        .col-xs-6.text-right Nonprofit Projects:
        .col-xs-6.text-left= nonprofitProjects
            | &nbsp
            a(href="https://trello.com/b/BA3xVpz9/nonprofit-projects")  (view them)
    .row
        .col-xs-6.text-right Open Issues:
        .col-xs-6.text-left= issues
            | &nbsp
            a(href="https://github.com/freecodecamp/freecodecamp/issues")  (create one)
    .row
        .col-xs-6.text-right Pull Requests:
        .col-xs-6.text-left= pulls
            | &nbsp
            a(href="https://github.com/freecodecamp/freecodecamp/pulls")  (create one)
    .row
        .col-xs-6.text-right Campers with at least...
        .col-xs-4
    .row
        .col-xs-6.text-right 3 Points:
        .col-xs-6.text-left= c3
    .row
        .col-xs-6.text-right 10 Points:
        .col-xs-6.text-left= c10
    .row
        .col-xs-6.text-right All 54 Points:
        .col-xs-6.text-left= all
    .row
        .col-xs-6.text-right Star our project here:
        .col-xs-6.text-left.github-button-container
            html.
                <iframe src="http://ghbtns.com/github-btn.html?user=freecodecamp&repo=freecodecamp&type=watch&count=true&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>