doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")

  url
    loc http://www.freecodecamp.com/
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/install-screenhero
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/nodeschool-challenges
    changefreq weekly
    lastmod= now
    priority= 0.5


  url
    loc http://www.freecodecamp.com/deploy-a-website
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/control-shortcuts
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/pair-program-with-team-viewer
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/login
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/nonprofits
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/learn-to-code
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/chromebook
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/live-pair-programming
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/privacy
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/jquery-exercises
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/javascript-in-your-inbox
    changefreq weekly
    lastmod= now
    priority= 0.5


  //- Home page
  url
    loc= appUrl
    lastmod= now
    changefreq daily
    priority= 0.8

  //- Users
  each user in users
    url
      loc #{appUrl}/#{user.profile.username}
      lastmod= now
      changefreq daily
      priority= 0.9

  //- Products
  each bonfire in bonfires
    url
      loc #{appUrl}/#{bonfire.name.replace(/\s/, '-')}
      lastmod= now
      changefreq weekly
      priority= 0.5

  //- Challenges
  each challenge in challenges
    url
      loc #{appUrl}/#{challenge.challengeNumber}
      lastmod= now
      changefreq weekly
      priority= 0.5

  //- Stories
  each story in stories
    url
      loc #{appUrl}/#{story.storyLink}
      lastmod= now
      changefreq daily
      priority= 0.9

//- Nonprofit
  each nonprofit in nonprofits
    url
        loc #{appUrl}/#{nonprofit.nonprofitLink}
        lastmod= now
        changefreq daily
        priority= 0.9