doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")

  url
    loc http://www.freecodecamp.com/
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/nonprofits
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/learn-to-code
    changefreq weekly
    lastmod= now
    priority= 0.5

  url
    loc http://www.freecodecamp.com/twitch
    changefreq weekly
    lastmod= now
    priority= 0.5

  //- Home page
  url
    loc= appUrl
    lastmod= now
    changefreq daily
    priority= 0.8

  //- Products
  each bonfire in bonfires
    url
      loc #{appUrl}/bonfires/#{bonfire.name.replace(/\s/g, '-')}
      lastmod= now
      changefreq weekly
      priority= 0.5

  //- Challenges
  each challenge in challenges
    url
      loc #{appUrl}/challenges/#{challenge.name.replace(/\s/g, '-')}
      lastmod= now
      changefreq weekly
      priority= 0.5

  //- Stories
  each story in stories
    url
      loc #{appUrl}/stories/#{story.storyLink.replace(/\s/g, '-')}
      lastmod= now
      changefreq daily
      priority= 0.9

  //- Nonprofit
  each nonprofit in nonprofits
    url
      loc #{appUrl}/nonprofits/#{nonprofit.name.replace(/\s/g, '-')}
      lastmod= now
      changefreq daily
      priority= 0.9

  //- Nonprofit
  each fieldGuide in fieldGuides
    url
      loc #{appUrl}/field-guide/#{fieldGuide.name.replace(/\s/g, '-')}
      lastmod= now
      changefreq daily
      priority= 0.9
