extends layout

block content
  ul.nav.nav-tabs
    li.active
      a(href='#basic', data-toggle='tab') Basic Info
    li
      a(href='#settings', data-toggle='tab') Settings
  .tab-content
    #basic.tab-pane.fade.active.in
      form.form-horizontal(action='/account/profile', method='POST')
        legend Profile Information
        .form-group
          label.col-sm-2.control-label(for='name') Name
          .col-sm-4
            input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
        .form-group
          label.col-sm-2.control-label(for='name') Gender
          .col-sm-4
            label.radio-inline
              input(checked=user.profile.gender=='male', name='gender', type='radio', value='male')
              span Male
            label.radio-inline
              input(checked=user.profile.gender=='female', name='gender', type='radio', value='female')
              span Female
        .form-group
          label.col-sm-2.control-label(for='email') Email
          .col-sm-4
            input.form-control(type='email', name='email', id='email', value='#{user.profile.email}')
        .form-group
          label.col-sm-2.control-label(for='location') Location
          .col-sm-4
            input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
        .form-group
          label.col-sm-2.control-label(for='website') Website
          .col-sm-4
            input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
        .form-group
          .col-sm-offset-2.col-sm-4
            button.btn.btn.btn-primary(type='submit') Update Profile

    #settings.tab-pane.fade
      form.form-horizontal(action='/account/profile', method='POST')
        legend Change Password
        .form-group
          label.col-sm-3.control-label(for='password') Password
          .col-sm-4
            input.form-control(type='password', name='password', id='password')
        .form-group
          label.col-sm-3.control-label(for='confirmPassword') Confirm Password
          .col-sm-4
            input.form-control(type='password', id='confirmPassword')
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn.btn-primary-outline(type='submit') Change Password
      .page-header
        h3 Delete Account
        p You can delete your account, but keep in mind this action is irreversiable.
        form(action='/account/delete', method='POST')
          button.btn.btn-danger(type='submit') Delete my account

      .page-header
        h3 Linked Accounts
        p
          a.text-danger(href='#') Unlink your Google account
        p
          a(href='#') Link your Facebook account
        p
          a(href='#') Link your Twitter account
        p
          a(href='#') Link your GitHub account

  if messages.length
    .alert.alert-danger
      for message in messages
        div= message