doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    title #{title} - Starter Template for Bootstrap

    link(href='/css/lib/font-awesome.min.css', rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')
    script(src='/js/lib/jquery.js')
    script(src='/js/lib/jquery.dataTables.min.js')
    script(src='/js/lib/bootstrap.js')
    script(src='/js/lib/flatui-checkbox.js')
    script(src='/js/lib/flatui-radio.js')
    script(src='/js/main.js')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Project name
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=title=='Home'?'active':undefined)
              a(href='/') Home
            li(class=title=='API Browser'?'active':undefined)
              a(href='/api') API Browser
            li(class=title=='Contact'?'active':undefined)
              a(href='/contact') Contact
          ul.nav.navbar-nav.navbar-right
            if !user
              li(class=title=='Login'?'active':undefined)
                a(href='/login') Login
              li(class=title=='Create Account'?'active':undefined)
                a(href='/signup') Create Account
            else
              li(class=title=='Account Management'?'active':undefined)
                a(href='/account')
                  if user.profile.picture
                    img(src='#{user.profile.picture}')
                  = user.username || user.profile.name || user.id
              li
                a(href='/logout') Logout
  .container
    block content
