doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    title #{title} - Starter Template for Bootstrap

    link(href='/css/lib/font-awesome.min.css?v=#{cacheBuster}', rel='stylesheet')
    link(href='/css/lib/animate.css?v=#{cacheBuster}', rel='stylesheet')

    link(href='/css/styles.css?v=#{cacheBuster}', rel='stylesheet')

    script(src='/js/lib/jquery.js?v=#{cacheBuster}')
    script(src='/js/lib/bootstrap.js?v=#{cacheBuster}')
    script(src='/js/main.js?v=#{cacheBuster}')
  body
    #wrap
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Project name
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li(class=title=='Home'?'active':undefined)
                a(href='/') Home
              li(class=title=='API Browser'?'active':undefined)
                a(href='/api') API Browser
              li(class=title=='Contact'?'active':undefined)
                a(href='/contact') Contact
            ul.nav.navbar-nav.navbar-right
              if !user
                li(class=title=='Login'?'active':undefined)
                  a(href='/login') Login
                li(class=title=='Create Account'?'active':undefined)
                  a(href='/signup') Create Account
              else
                li.dropdown(class=title=='Account Management'?'active':undefined)
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    if user.profile.picture
                      img(src='#{user.profile.picture}')
                    | #{user.profile.name || user.id}&nbsp;
                    i.caret
                  ul.dropdown-menu
                    li: a(href='/account') My Account
                    li.divider
                    li: a(href='/logout') Logout
      .container
        block content
    #footer
      .container.text-center
        div
          | © 2014 Company, Inc.
        div
          strong Hackathon Starter
          |  Project
          |  ·
          | Created by
          a(href='http://sahatyalkabov.com')  Sahat Yalkabov
        div
          | Code licensed under
          a(href='http://opensource.org/licenses/mit-license.html')  MIT License
        div
          a(href='https://github.com/sahat/hackathon-starter') GitHub Project
          |  ·
          a(href='https://github.com/sahat/hackathon-starter/issues')  Issues
