extends layout

block content
  if messages.length
    .alert.alert-danger
      for message in messages
        div= message

  form.form-horizontal(id='signup-form', method='POST')
    legend Signup
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', placeholder='Name', autofocus=true)
    .form-group
      label.col-sm-3.control-label(for='username') Email
      .col-sm-7
        input.form-control(type='email', name='username', id='username', placeholder='Email', required=true)
    .form-group
      label.col-sm-3.control-label(for='username') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', required=true, placeholder='Password')
    .form-group
      label.col-sm-3.control-label(for='username') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', required=true, placeholder='Confirm Password')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-primary(type='submit') Signup
