extends ../layout-wide
block content
      .text-center
          h1 Challenge Map
          p Required challenges are marked with a *
          p Click the&thinsp;&thinsp;
              i.fa.fa-external-link 
              | &thinsp;button to view this map in full screen.
      hr
      #accordion.panel-group
        for superBlock, index in superBlocks
            h3
              a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse'+superBlock.name.split(' ').join('-'))
                | #{superBlock.name}
            ul(id = 'collapse'+superBlock.name.split(' ').join('-') class = "panel-collapse collapse")
                #nested.panel-group
                    for challengeBlock in superBlock.blocks
                        h4
                          a(data-toggle='collapse', data-parent='#nested', href='#nested-collapse'+challengeBlock.name.replace(/(\W)/gi, '').split(' ').join('-'))
                            | #{challengeBlock.name}
                        div(id = "nested-collapse"+challengeBlock.name.replace(/\W/gi, '').split(' ').join('-') class = "panel-collapse collapse")
                            ul
                                br                        
                                for challenge in challengeBlock.challenges
                                    if challenge.completed
                                        p.text-primary.ion-checkmark-circled.padded-ionic-icon.negative-15(name="#{challenge.dashedName}") &nbsp;
                                            a.faded(href="/challenges/#{challenge.dashedName}" target='_parent')
                                                = challenge.title
                                                span.sr-only= " Complete"
                                    else if challenge.isRequired
                                        p.ion-ios-circle-outline.padded-ionic-icon.negative-15(name="#{challenge.dashedName}") &nbsp;
                                            a(name="#{challenge.dashedName}" target='_parent' href="/challenges/#{challenge.dashedName}" class=challenge.isComingSoon ? 'disabled' : '')
                                                span= challenge.title
                                                span.sr-only= " Incomplete"
                                            if challenge.markNew
                                                span.text-success.small &thinsp; &thinsp;
                                                    strong
                                                        em New
                                            if challengeBlock.isComingSoon
                                                span.text-success.small &thinsp; &thinsp;
                                                    strong
                                                        em Coming Soon
                                            span.text-primary &thinsp; &thinsp;
                                                strong *
                                    else
                                        p.ion-ios-circle-outline.padded-ionic-icon.negative-15(name="#{challenge.dashedName}") &nbsp;
                                            a(name="#{challenge.dashedName}" target='_parent' href="/challenges/#{challenge.dashedName}" class=challenge.isComingSoon ? 'disabled' : '')
                                                span= challenge.title
                                                span.sr-only= " Incomplete"
                                            if challenge.markNew
                                                span.text-success.small &thinsp; &thinsp;
                                                    strong
                                                        em New
                                            if challengeBlock.isComingSoon
                                                span.text-success.small &thinsp; &thinsp;
                                                    strong
                                                        em Coming Soon
                    .spacer
