doctype html
html(lang='en')
  head
    if title
      title= title
    else
      title freeCodeCamp
    include partials/react-stylesheets
  body
    #fcc!= markup
    script!= state
    script.
      window.webpackManifest = !{JSON.stringify(chunkManifest || {})};
      (function setTheme() {
        let fccTheme;
        try {
          fccTheme = JSON.parse(localStorage.getItem('fcc-theme'));
          if (fccTheme && fccTheme === 'night') {
            document.body.classList.add('night');
          }
        }
        catch(e) {
          fccTheme = null;
        }
      })();
    script(src=rev('/js', 'vendor-challenges.js'))
    script(src=rev('/js', 'bundle.js'))
