doctype html
html(lang='en')
  head
    if title
      title= title
    else
      title freeCodeCamp
    include partials/react-stylesheets
  body
    #fcc!= markup
    script!= state
    script.
      window.webpackManifest = !{JSON.stringify(chunkManifest || {})};
    script(src=rev('/js', 'vendor-challenges.js'))
    script(src=rev('/js', 'bundle.js'))
