doctype html
html(lang='en').full-size
  head
    //
        Event snippet for Sign up conversion page
        In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5D6RKKP');
    if title
      title= title
    else
      title freeCodeCamp
    include partials/react-stylesheets
  body.full-size
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5D6RKKP', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #fcc.full-size!= markup
    script!= state
    script.
      window.webpackManifest = !{JSON.stringify(chunkManifest || {})};
      (function setTheme() {
        let fccTheme;
        try {
          fccTheme = JSON.parse(localStorage.getItem('fcc-theme'));
          if (fccTheme && fccTheme === 'night') {
            document.body.classList.add('night');
          }
        }
        catch(e) {
          fccTheme = null;
        }
      })();
    script(src=cacheBreaker(rev('/js', 'client.js')))
