doctype html
html(lang='en')
  head
    if title
      title= title
    else
      title Free Code Camp
    include partials/react-stylesheets
  body.no-top-and-bottom-margins(style='overflow: hidden')
    #fcc!= markup
    script!= state
    script.
      window.webpackManifest = !{JSON.stringify(chunkManifest || {})};
    script(src=rev('/js', 'vendor-challenges.js'))
    script(src=getBundleLocation())
