extends ../layout
block content
    script.
        var bonfireList = !{JSON.stringify(bonfires)};
        var waypointList = !{JSON.stringify(waypoints)};
        var ziplineList = !{JSON.stringify(ziplines)};
        var basejumpList = !{JSON.stringify(basejumps)};
        var completedChallenges = !{JSON.stringify(completedChallengeList)};
    .panel.panel-info
        .panel-heading.text-center
            h1 Challenge Map
        .panel-body
            if (Math.random() > 0.99)
                img.img-responsive.img-center.border-radius-5(src='https://s3.amazonaws.com/freecodecamp/wide-social-banner-dino.png')
            else
                img.img-responsive.img-center.border-radius-5(src='https://s3.amazonaws.com/freecodecamp/wide-social-banner.png')
            .col-xs-12.col-md-10.col-md-offset-1
                h2.text-center
                    span.text-primary #{camperCount} &thinsp;
                    | campers have joined our community
                    br
                    | since we launched &thinsp;
                    span.text-primary #{daysRunning} &thinsp;
                    | days ago.
                .spacer
                .negative-15
                    for challengeBlock in challengeList
                        h3 #{challengeBlock.name}
                        ol
                            for challenge in challengeBlock.challenges
                                if completedChallengeList.indexOf(challenge._id) > -1
                                    .row
                                        .hidden-xs.col-sm-3.col-md-2.text-primary.ion-checkmark-circled.padded-ionic-icon.text-center.large-p
                                        .col-xs-12.col-sm-9.col-md-10
                                            li.faded.large-p
                                                a(href="/challenges/#{challenge.name}")= challenge.name

                                else
                                    .row
                                        .hidden-xs.col-sm-3.col-md-2
                                            span
                                        .col-xs-12.col-sm-9.col-md-10
                                            li.large-p
                                                a(href="/challenges/#{challenge.name}")= challenge.name

                h2
                    span.ion-ios-heart &nbsp; Nonprofit Projects (800 hours of real-world experience)*
                    h3.negative-15
                        ul
                            .row
                                .hidden-xs.col-sm-3.col-md-2
                                    span
                                .col-xs-12.col-sm-9.col-md-10
                                    li
                                        a(href="/nonprofits/directory") Browse our nonprofit projects
                p * Complete all Waypoints, Bonfires, Ziplines and Basejumps to be assigned your first nonprofit project

    #announcementModal.modal(tabindex='-1')
        .modal-dialog.animated.fadeInUp.fast-animation
            .modal-content
                .modal-header.challenge-list-header Share deep comics about coding
                    a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
                .modal-body
                    h3.text-left Submit your favorite profound comic about coding to Camper News. Start the headline with: "Deep Code Comic:" then add a clever description that doesn't ruin the punchline.
                    img.img-responsive.img-center(src='http://imgs.xkcd.com/comics/wisdom_of_the_ancients.png')
                    h3.text-left We'll publish the top 25 comics (and the campers who submitted them) in Wednesday's blog post. You'll also get 1 point for every upvote.
                    a.btn.btn-lg.btn-info.btn-block(name='_csrf', value=_csrf, aria-hidden='true', href='/news', target='_blank') Take me to Camper News
                    a.btn.btn-lg.btn-primary.btn-block(href='#', data-dismiss='modal', aria-hidden='true') Thanks for the heads-up!
    script.
        $(document).ready(function () {
            if (!localStorage || !localStorage.deepComic) {
                $('#announcementModal').modal('show');
                localStorage.deepComic = "true";
            }
        });
