extends ../layout
block content
    .col-xs-12.col-sm-12.col-md-12
        .panel.panel-info
            .panel-heading.text-center
                h1 Challenge Map
            .panel-body
                .col-md-offset-2
                    h2
                        span.fa.fa-flag
                        | &nbsp; Waypoints

                    .col-xs-12
                        h3.negative-15
                            ol
                                for waypoint in waypoints
                                    if completedCoursewareList.indexOf(waypoint._id) > -1
                                        li.strikethrough
                                            a(href="/challenges/#{waypoint.name}")= waypoint.name
                                    else
                                        li
                                            a(href="/challenges/#{waypoint.name}")= waypoint.name
                    h2
                        span.ion-bonfire
                        | &nbsp; Bonfires
                    .col-xs-12
                        h3.negative-15
                            ol
                                for bonfire in bonfires
                                    if completedBonfireList.indexOf(bonfire._id) > -1
                                        li.strikethrough
                                            a(href="/bonfires/#{bonfire.name}")= bonfire.name
                                    else
                                        li
                                            a(href="/bonfires/#{bonfire.name}")= bonfire.name
                    h2
                        span.fa.fa-angle-double-right
                        | &nbsp; Ziplines
                    .col-xs-12
                        h3.negative-15
                            ol
                                for zipline in ziplines
                                    if completedCoursewareList.indexOf(zipline._id) > -1
                                        li.strikethrough
                                            a(href="/challenges/#{zipline.name}")= zipline.name
                                    else
                                        li
                                            a(href="/challenges/#{zipline.name}")= zipline.name
                    h2
                        span.fa.fa-level-down
                        | &nbsp; Basejumps
                    .col-xs-12
                        h3.negative-15
                            ol
                                for basejump in basejumps
                                    if completedCoursewareList.indexOf(basejump._id) > -1
                                        li.strikethrough
                                            a(href="/challenges/#{basejump.name}")= basejump.name
                                    else
                                        li
                                            a(href="/challenges/#{basejump.name}")= basejump.name
