.spacer
    script.
        var challengeName = 'Camper News';
        var storyId = !{JSON.stringify(id)};
        var comments = !{JSON.stringify(comments)};
        var upVotes = !{JSON.stringify(upVotes)};
        var user = !{JSON.stringify(user)};
        var image = !{JSON.stringify(image)};
        var hasUserVoted = !{JSON.stringify(hasUserVoted)};
    .spacer

    h3.row
        .col-xs-2.col-sm-1
            a(href="/" + author.username)
                img(src="#{author.picture}", class='img-news')
        .col-xs-10.col-sm-10
            .col-xs-12.negative-28
                a(href="#{link}", target="_blank")
                    h3= title
            h6
                .col-xs-12.positive-15.hidden-element#image-display
                    .media
                        .media-left
                            img.url-preview.media-object(src="#{image}", alt="#{storyMetaDescription}")
                        .media-body
                            .col-xs-12.col-sm-12.col-md-6
                                h4= storyMetaDescription
                .col-xs-12
                    h4= description
                    .negative-5
                        a#reply-to-main-post.btn.btn-no-shadow.btn-primary.btn-xs.btn-primary-ghost Reply
                        |  &thinsp;路&thinsp;
                        if !hasUserVoted
                            a#upvote.btn.btn-no-shadow.btn-primary.btn-xs.btn-primary-ghost
                            |  &thinsp;路&thinsp;
                        else
                            a#upvote.btn.disabled.btn-no-shadow.btn-primary.btn-xs.btn-primary-ghost Upvoted!
                            |  &thinsp;路&thinsp;
                        span#storyRank= rank + (rank > 1 ? " points" : " point")
                        |  &thinsp;路&thinsp;
                        span Posted #{timeAgo}
                        span &thinsp;by&thinsp;
                            a(href="/" + author.username) @#{author.username}

    if (user !== null)
        .col-xs-12#reply-area
        .hidden-element#initial-comment-submit
            form.form-horizontal.control-label-story-submission
                .col-xs-12
                    .input-group
                        input#comment-box.big-text-field.field-responsive.form-control(type='text', placeholder='Enter your reply', autofocus)
                        span.input-group-btn
                            button#comment-button.btn.btn-big.btn-primary.btn-responsive(type='button') Send
                    span.spacer.pull-left#textarea_feedback

    script.
        if (image) {
            $('#image-display').removeClass('hidden-element')
        }
        $('#reply-to-main-post').on('click', function() {
            if (!user) return;
            $('#initial-comment-submit').removeClass('hidden-element');
            $(this).unbind('click');
            $('.comment-to-comment-formgroup').empty();
        });
        var text_max = 140;
        $('#textarea_feedback').html(text_max + ' characters remaining');
        $('#comment-box').keyup(function (e) {
            if (e.which === 13 || e === 13) {
                $('#comment-button').click();
            }
            var text_length = $('#comment-box').val().length;
            var text_remaining = text_max - text_length;
            $('#textarea_feedback').html(text_remaining + ' characters remaining');
        });
    include ./comments
