extends ../layout
block content
    script.
        var challengeName = 'Camper News';
        var storyId = !{JSON.stringify(id)};
        var comments = !{JSON.stringify(comments)};
        var upVotes = !{JSON.stringify(upVotes)};

    .panel.panel-info
        .panel-heading.text-center Camper News
        .panel-body
            h3.row.text-left.negative-10
                .col-xs-3.col-sm-1
                    .row.negative-5
                        .col-xs-12.big-ion-up-arrow
                            i.ion-arrow-up-b
                        h3.story-up-votes
                            span= rank
                .col-xs-2.col-sm-1
                    img(src="#{author.picture}", class='img-responsive')
                .col-xs-7.col-sm-10
                    .col-xs-12.negative-28
                        a(href="#{link}")
                            h3= title
                    .col-xs-12.negative-15
                        span Posted #{timeAgo}
                        span &nbsp;by&nbsp;
                            a(href="/" + author.username)
                                @#{author.username}











    //        .col-xs-2(style='position: relative; top: 50%; -webkit-transform: translateY(50%); -ms-transform: translateY(50%);transform: translateY(50%);')
    //            h3
    //                a#upvote
    //                    i.ion-arrow-up-b
    //        .col-xs-10.text-center
    //            h1= title
    //    .row
    //        .col-xs-2
    //            h3#storyRank= rank
    //
    //        .col-xs-10.text-center
    //            h3= body
    //.row.negative-35
    //    h3.col-xs-12.col-md-6.col-lg-5.text-center Comments
    //.row
    //    .col-xs-12.col-md-6.col-lg-5
    //        textarea#comment-box.form-control(name="comment-box", rows=5)
    //if (user)
    //    script.
    //        var user = !{JSON.stringify(user)};
    //        $('#upvote').unbind('click');
    //.row
    //    .col-xs-12.col-md-7.col-lg-4.text-left
    //        include ./comments

//
    title: story.headline,
            dashedName: story.link,
            author: story.author,
            body: story.body,
            rank: story.rank,
            upVotes: story.upVotes,
            comments: story.comments