extends ../layout

block content
  .page-header
    h2
      i.fa.fa-facebook-square(style='color: #335397')
      | Facebook API

  .btn-group.btn-group-justified
    a.btn.btn-success(href='https://developers.facebook.com/docs/graph-api/quickstart/', target='_blank')
      i.fa.fa-check-square-o
      | Quickstart
    a.btn.btn-success(href='https://developers.facebook.com/tools/explorer', target='_blank')
      i.fa.fa-facebook
      | Graph API Explorer
    a.btn.btn-success(href='https://developers.facebook.com/docs/graph-api/reference/', target='_blank')
      i.fa.fa-code-fork
      | API Reference

  h2 My Info
  h4= me.name
  h6 Username: #{me.username}
  h6 Email: #{me.email}

  h2 List of my friends
  ul.list-unstyled
    for friend in friends
      li
        img(src='https://graph.facebook.com/#{friend.id}/picture?type=normal', width=30, height=30)
        a(href='http://facebook.com/#{friend.id}') #{friend.name}