extends ../layout

block content
  .page-header
    h1
      i.fa.fa-foursquare
      |  Foursquare API

  if !(user.tokens && user.tokens.foursquare)
    .alert.alert-warning No Token Found
    a.btn.btn-large.btn-primary(href='/auth/foursquare')
      i.fa.fa-qrcode.fa-spin
      |  Get Foursquare Token
  else
    ul.nav.nav-pills(style='margin-bottom: 15px;')
      li.active
        a(href='#venues', data-toggle='tab') Venues
      li
        a(href='#users', data-toggle='tab') Users

    div.tab-content
      #venues.tab-pane.fade.active.in
        .lead Trending Venues
        table.table.table-bordered.table-hover
          thead
            tr
              th Name
              th Location
              th Checkins
              th Here Now
          tbody
            for venue in trendingVenues
              tr
                td= venue.name
                td #{venue.location.address}, #{venue.location.city}, #{venue.location.state}
                td= venue.stats.checkinsCount
                td= venue.hereNow.count

        .lead Venue Detail
        img.img-thumbnail(src='https://irs3.4sqi.net/img/general/200x200/11109710_xePHC-bh76LL_EaG-tsM1lUV6Bp-VUG1r_haDSqSvBM.jpg')
        p.text-danger Name: #{venue.name}
        p.text-muted Location: #{venue.location.address}, #{venue.location.city}, #{venue.location.state}
        p.text-success Categories:
          for category in venue.categories
            span  #{category.shortName} |
        p.text-info Likes: #{venue.likes.count}
        p.text-warning Rating: #{venue.rating}

      #users.tab-pane.fade
        .lead User Checkins
        table.table.table-bordered.table-hover
          thead
            tr
              th Name
              th Location
              th Category
              th Checkins
          tbody
            for checkin in checkins
              tr
                td= checkin.venue.name
                td #{checkin.venue.location.address}, #{checkin.venue.location.city}, #{checkin.venue.location.state}
                td= checkin.venue.categories[0].shortName
                td= checkin.venue.stats.checkinsCount