extends ../layout

block content
  if !user.tokens.foursquare
    .panel.panel-default
      .panel-heading
        i.fa.fa-shield
        | Authorization Required
      .panel-body
        a(href='/auth/foursquare')
          .label.label-primary.label-block
            h2
              i.fa.fa-qrcode
              | Get Foursquare Token
      .panel-footer
        div= message
  else
    .panel.panel-default
      .panel-heading.tabs
        i.fa.fa-foursquare
        | Foursquare API
        ul.nav.nav-tabs.pull-right
          li.active
            a(href='#venues', data-toggle='tab')
              i.fa.fa-map-marker
              | Venues
          li
            a(href='#users', data-toggle='tab')
              i.fa.fa-user
              | Users
      .panel-body
        .tab-content
          #venues.tab-pane.fade.active.in
            h3.lead.text-primary Trending Venues

            table.dataTable.table.table-striped.table-bordered
              thead
                tr
                  th Name
                  th.hidden-xs.hidden-sm Category
                  th.hidden-xs Checkins
                  th Here Now
              tbody
                for venue in trendingVenues.venues
                  tr
                    td= venue.name
                    td.hidden-xs.hidden-sm #{venue.categories[0].name}
                    td.hidden-xs #{venue.stats.checkinsCount}
                    td= venue.hereNow.count

            h3.lead.text-primary Venue Detail
            p
              span.label.label-primary #{venueDetail.venue.name} (#{venueDetail.venue.categories[0].shortName})
            p
              span.label.label-success #{venueDetail.venue.location.address}, #{venueDetail.venue.location.city}, #{venueDetail.venue.location.state}
            p
              span.label.label-warning #{venueDetail.venue.likes.count} likes, #{venueDetail.venue.rating} rating

            img.pull-left(src='#{venueDetail.venue.photos.groups[0].items[0].prefix}150x150#{venueDetail.venue.photos.groups[0].items[0].suffix}')

          #users.tab-pane.fade
            .lead User Checkins
            table.dataTable.table.table-bordered.table-hover
              thead
                tr
                  th Name
                  th Location
                  th Category
                  th Checkins
              tbody
                for checkin in userCheckins.checkins.items
                  tr
                    td= checkin.venue.name
                    td #{checkin.venue.location.address}, #{checkin.venue.location.city}, #{checkin.venue.location.state}
                    td= checkin.venue.categories[0].shortName
                    td= checkin.venue.stats.checkinsCount
