extends ../layout

block content
  .page-header
    h1
      i.fa.fa-foursquare
      |  Foursquare API

  if !(user.tokens && user.tokens.foursquare)
    .alert.alert-warning No Token Found
    a.btn.btn-large.btn-primary(href='/auth/foursquare')
      i.fa.fa-qrcode.fa-spin
      |  Get Foursquare Token
  else
    ul.nav.nav-pills(style='margin-bottom: 15px;')
      li.active
        a(href='#venues', data-toggle='tab') Venues
      li
        a(href='#users', data-toggle='tab') Users
      li
        a(href='#checkins', data-toggle='tab') Checkins

    div.tab-content
      #venues.tab-pane.fade.active.in
        .lead Trending Venues
        table.table.table-bordered.table-hover
          thead
            tr
              th Name
              th Location
              th Checkins
              th Here Now
          tbody
            for venue in venues
              tr
                td= venue.name
                td #{venue.location.address}, #{venue.location.city}, #{venue.location.state}
                td= venue.stats.checkinsCount
                td= venue.hereNow.count

        //.lead Venue Detail
        //  p Name: #{venue.name}
        //  p Location: #{venue.location.address}, #{venue.location.city}, #{venue.location.state}
        //  p Categories:
        //    for category in venue.categories
        //      span= category.name
        //  p Likes: #{venue.likes.count}
        //  p Rating: #{venue.rating}

      #users.tab-pane.fade
        p TODO: Users

      #checkins.tab-pane.fade
        p TODO: Checkins
