extends ../layout

block content
  .page-header
    h2
      i.fa.fa-play-circle-o(style='color: #db1302')
      | Last.fm API
  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://github.com/jammus/lastfm-node#lastfm-node', target='_blank')
      i.fa.fa-check-square-o
      | Last.fm Node Docs
    a.btn.btn-primary(href='http://www.last.fm/api/account/create', target='_blank')
      i.fa.fa-laptop
      | Create API Account
    a.btn.btn-primary(href='http://www.last.fm/api', target='_blank')
      i.fa.fa-code-fork
      | API Endpoints

  h3= artist.name
  img.thumbnail(src='#{artist.image}')

  h3 Tags
  for tag in artist.tags
    span.label.label-primary
      i.fa.fa-tag
      | #{tag.name}
    |&nbsp;

  h3 Biography
  p!= artist.bio

  h3 Top Albums
  for album in artist.topAlbums
    img(src='#{album}', width=150, height=150)
    |&nbsp;

  h3 Top Tracks
  ol
    for track in artist.topTracks
      li
        a(href='#{track.url}') #{track.name}

  h3 Similar Artists
  ul.list-unstyled.list-inline
    for similarArtist in artist.similar
      li
        a(href='#{similarArtist.url}') #{similarArtist.name}