extends ../layout

block content
  .page-header
    h2
      i.fa.fa-linkedin-square
      | LinkedIn API

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://github.com/Kuew/node-linkedin', target='_blank')
      i.fa.fa-book
      | Node LinkedIn Docs
    a.btn.btn-primary(href='http://developer.linkedin.com/documents/authentication', target='_blank')
      i.fa.fa-check-square-o
      | Getting Started
    a.btn.btn-primary(href='http://developer.linkedin.com/apis', target='_blank')
      i.fa.fa-code-fork
      | API Endpoints

  h3.text-primary My LinkedIn Profile
  .well.well-sm
    .row
      .col-sm-12
        .col-sm-2
          br
          img.thumbnail(src='#{profile.pictureUrl}')
        .col-sm-10
          h3= profile.formattedName
          h4= profile.headline
          span.text-muted #{profile.location.name} | #{profile.industry}
    br
    .row
      .col-sm-12
        dl.dl-horizontal
          dt.text-muted Current
          for company in profile.positions.values
            if company.isCurrent
              dd
                strong= company.title
                |  at
                strong  #{company.company.name}
          dt.text-muted Previous
            for company in profile.positions.values
              if !company.isCurrent
                dd
                  | #{company.title}
                  |  at
                  | #{company.company.name}
          dt.text-muted Education
            for education in profile.educations.values
              dd= education.schoolName
          dt.text-muted Recommendations
          dd
            strong #{profile.numRecommenders}
            |  recommendation(s) received
          dt.text-muted Connections
          dd
            strong #{profile.numConnections}
            |  connections
        .text-center
          small.text-muted= profile.publicProfileUrl

  h3.text-primary LinkedIn Connections
  table.table.table-hover.table-striped.table-bordered
    tbody
    for connection in profile.connections.values
      if connection.id != 'private'
        tr
          td
            strong #{connection.firstName} #{connection.lastName}
            .text-muted #{connection.headline}
