extends ../layout

block content
  .page-header
    h2
      i.fa.fa-gamepad
      | Steam Web API

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://developer.valvesoftware.com/wiki/Steam_Web_API', target='_blank')
      i.fa.fa-check-square-o
      | Overview

  h3 Profile Information
  .lead #{playerSummaries.personaname}
  img(src='#{playerSummaries.avatarmedium}')
  .lead Account since #{playerSummaries.timecreated}
  .lead Last Online: #{playerSummaries.lastlogoff}
  .lead Online Status: #{playerSummaries.personastatus}

  h3 Player achievements for #{playerAchievemments.gameName}
  p Returns a list of achievements for this user by app id
  ul.lead.list-unstyled
    for achievement in playerAchievemments.achievements
      if achievement.achieved
        li.text-success= achievement.name

  h3 Owned Games
  ul.list-unstyled.list-inline
    for game in ownedGames
      li.thumb
        a(href='http://store.steampowered.com/app/#{game.appid}/')
          img(src='http://media.steampowered.com/steamcommunity/public/images/apps/#{game.appid}/#{game.img_logo_url}.jpg' width="92")

