extends ../layout-wide
block content
    .row
        .col-xs-12.col-sm-12.col-md-4.bonfire-top
            h1.text-center= name
            .well
                h4
                    ol
                        for step in details
                            li!= step
        .col-xs-12.col-sm-12.col-md-8
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src='//player.vimeo.com/video/#{video}')
            br
            - if (user)
                a.btn.btn-primary.btn-lg.btn-block#completed-courseware I've completed this challenge  (ctrl + enter)
                script.
                    var userLoggedIn = true;
            - else
                a.btn.btn-lg.signup-btn.btn-block(href='/login') Sign in so you can save your progress
                    script.
                        var userLoggedIn = false;
                br
            script(type="text/javascript").
                var tests = !{JSON.stringify(tests)};
                var passedCoursewareHash = !{JSON.stringify(coursewareHash)};
                var challengeName = !{JSON.stringify(name)};
                var passedCoursewareName = challengeName;
                var started = Math.floor(Date.now());
    #complete-courseware-dialog.modal(tabindex='-1')
        .modal-dialog.animated.zoomIn.fast-animation
            .modal-content
                .modal-header.challenge-list-header= compliment
                    a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
                .modal-body(ng-controller="pairedWithController")
                    .text-center
                        .animated.zoomInDown.delay-half
                            span.completion-icon.ion-checkmark-circled.text-primary
                        - if (user)
                            a.animated.fadeIn.btn.btn-lg.btn-primary.btn-block#next-courseware-button(name='_csrf', value=_csrf) Go to my next challenge (ctrl + enter)
                            - if (user.progressTimestamps.length > 2)
                                a.animated.fadeIn.btn.btn-lg.btn-block.btn-twitter(href="https://twitter.com/intent/tweet?text=I%20just%20#{verb}%20%40FreeCodeCamp%20Bonfire:%20#{name}&url=http%3A%2F%2Ffreecodecamp.com/bonfires/#{dashedName}&hashtags=LearnToCode, JavaScript" target="_blank")
                                    i.fa.fa-twitter &thinsp;
                                    = phrase
                        - else
                            a.animated.fadeIn.btn.btn-lg.signup-btn.btn-block(href='/login') Sign in so you can save your progress
                                h1 #{name}
        script.
            var challengeName = !{JSON.stringify(name)};
            var passedCoursewareHash = !{JSON.stringify(coursewareHash)};