extends ../layout-wide
block content
    script(src='/js/lib/codemirror/lib/codemirror.js')
    script(src='/js/lib/codemirror/addon/edit/closebrackets.js')
    script(src='/js/lib/codemirror/addon/edit/matchbrackets.js')
    script(src='/js/lib/codemirror/addon/lint/lint.js')
    script(src='/js/lib/codemirror/addon/lint/javascript-lint.js')
    script(src='//ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js')
    script(src='/js/lib/chai/chai.js')
    script(src='/js/lib/chai/chai-jquery.js')
    link(rel='stylesheet', href='/js/lib/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/js/lib/codemirror/addon/lint/lint.css')
    link(rel='stylesheet', href='/js/lib/codemirror/theme/monokai.css')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Ubuntu+Mono")
    script(src='/js/lib/codemirror/mode/javascript/javascript.js')
    script(src='/js/lib/jailed/jailed.js')
    script(src='/js/lib/bonfire/bonfireInit.js')
    script(src='/js/lib/codemirror/mode/xml/xml.js')
    script(src='/js/lib/codemirror/mode/css/css.js')
    script(src='/js/lib/codemirror/mode/htmlmixed/htmlmixed.js')
    .row.courseware-height
        .col-xs-12.col-sm-12.col-md-3.col-lg-3
            .well
                .row
                    .col-xs-12
                        h2.text-center= name
                        .bonfire-instructions
                            p= brief
                            #brief-instructions
                                .text-center
                                    button#more-info.btn.btn-info
                                        span.ion-help-circled
                                        | More information
                            #long-instructions.row.hide
                                .col-xs-12
                                    for sentence in details
                                        p!= sentence
                                    .text-center
                                        button#less-info.btn.btn-info
                                            span.ion-help-circled
                                            | Less information
            div.hidden
                #submitButton.btn.btn-primary.btn-big.btn-block Run code (ctrl + enter)
                br
                form.code
                    .form-group.codeMirrorView
                        textarea#codeOutput
            br
            #testSuite
            br
            script(type="text/javascript").
                var tests = !{JSON.stringify(tests)};
                var challengeSeed = !{JSON.stringify(challengeSeed)};
                var passedCoursewareHash = !{JSON.stringify(coursewareHash)};
                var bonfireName = 'Testing Courseware';
                var prodOrDev = !{JSON.stringify(environment)};
        .col-xs-12.col-sm-12.col-md-5.col-lg-6
            #mainEditorPanel
                form.code
                    .form-group.codeMirrorView
                        textarea#codeEditor(autofocus=true)
                script(src='/js/lib/coursewares/coursewaresFramework.js')
        .col-md-4.col-lg-3
            .hidden-xs.hidden-sm
                img.iphone-position(src="https://s3.amazonaws.com/freecodecamp/iphone6-frame.png")
            iframe.iphone#preview


        #complete-courseware-dialog.modal(tabindex='-1')
            .modal-dialog.animated.zoomIn.fast-animation
                .modal-content
                    .modal-header.challenge-list-header
                        = compliment
                        a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
                    .modal-body
                        .text-center
                            .animated.zoomInDown.delay-half
                                span.completion-icon.ion-checkmark-circled.text-primary
                        - if (cc)
                            a.animated.fadeIn.btn.btn-lg.btn-primary.btn-block.next-courseware-button(name='_csrf', value=_csrf, aria-hidden='true') Go to my next challenge (ctrl + enter)
                            - if (points && points > 2)
                                a.animated.fadeIn.btn.btn-lg.btn-block.btn-twitter(href="https://twitter.com/intent/tweet?text=I%20just%20#{verb}%20%40FreeCodeCamp%20Challenge%20%23#{number}:%20#{name}&url=http%3A%2F%2Ffreecodecamp.com/challenges/#{number}&hashtags=LearnToCode, JavaScript" target="_blank")
                                  i.fa.fa-twitter &nbsp;
                                     = phrase
                        - else
                            a.animated.fadeIn.btn.btn-lg.signup-btn.btn-block(href='/login') Sign in so you can save your progress