.spacer
- var requests = onlineUsers

if requests.length===0
  h2 Nobody online
else 
  script(src='/js/lib/moment/moment.js')
  h2 Current Pair Requests
  ul 
    each val, index in requests 
      li
        .story-list
          .col-xs-12.text-left.pair-request-listing
            h2.col-xs-1.positive-5= index+1
            .col-xs-2
              img.img-news(src=val.userPic)
            .col-xs-7
              .row
                .story-headline
                  a(href='https://freecode.slack.com/messages/@'+val.username+'/', target="blank")= val.username
              .row
                em: span.pair-request-listing= 'Bonfire: ' + val.bonfire 
                br
                span.pair-request-listing= 'Challenge: ' + val.challenge 
            .col-xs-2
              p= (val.timeOnline)

script.
  $('#edit-pair-request').on('click', function () {
    $('div#edit-comment').toggleClass('collapse');
  });
  $('#go-offline').on('click', function() {
    $.ajax({
      url: '/pair-coding/setOffline'
    }).done(function(){
    window.location.reload(true);
    });
  });

   
