script.
	var pairWithUser = !{JSON.stringify(pairWithUser)}
	var comment = !{JSON.stringify(comment)}
	var userSlack = !{JSON.stringify(userSlack)}

.spacer
	h2 #{pairWithUser}: #{comment}
	p You can find them on Slack using the handle @#{userSlack}
	p #{JSON.stringify(details)}
