.panel.panel-primary
    .panel-heading Challenge: #{name}
    .panel.panel-body
        .responsive-container
            iframe(src='//player.vimeo.com/video/#{video}', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        h3 Instructions:
        for direction in directions
            p= direction

        h3 Relevant Links (these open up in a new tab):
        ol
            for link in links
                li
                    a(href=link, target="blank")= link
        br
        h3 Challenges:
        ol
            for challenge in challenges
                li= challenge
        a.btn.btn-primary.btn-large.btn-block(href='/curriculum') I've completed this challenge