script.
    var storyId = !{JSON.stringify(id)};
    var originalStoryLink = !{JSON.stringify(originalStoryLink)};
    var upVotes = !{JSON.stringify(upVotes)};
    var image = !{JSON.stringify(image)};
    var hasUserVoted = !{JSON.stringify(hasUserVoted)};

h3.row
    .col-xs-2.col-sm-1
        a(href="/" + author.username)
            img(src="#{author.picture}", class='img-news')
    .col-xs-10.col-sm-10
        .col-xs-12.negative-28
            a(href="#{link}", target="_blank")
                h3= title
        h6
            .col-xs-12.positive-15.hidden-element#image-display
                .media
                    .media-left
                        img.url-preview.media-object(src="#{image}", alt="#{storyMetaDescription}")
                    .media-body
                        .col-xs-12.col-sm-12.col-md-6
                            h4= storyMetaDescription
            .col-xs-12
                .spacer
                if !hasUserVoted
                    a#upvote.btn.btn-no-shadow.btn-primary.btn-xs.btn-primary-ghost Upvote
                    |  &thinsp;·&thinsp;
                else
                    a#upvote.btn.disabled.btn-no-shadow.btn-primary.btn-xs.btn-primary-ghost Upvoted!
                    |  &thinsp;·&thinsp;
                span#storyRank= rank + (rank > 1 ? " points" : " point")
                |  &thinsp;·&thinsp;
                span Posted #{timeAgo}
                span &thinsp;by&thinsp;
                    a(href="/" + author.username) @#{author.username}

script.
    if (image) {
        $('#image-display').removeClass('hidden-element')
    }
