.spacer
.col-xs-12
    script.
      var main = window.main || { init: [] };
      main.storyURL = !{JSON.stringify(storyURL)};
      main.storyTitle = !{JSON.stringify(storyTitle)};
      main.storyImage = !{JSON.stringify(storyImage)};
      main.storyMetaDescription = !{JSON.stringify(storyMetaDescription)};

    form.form-horizontal.control-label-story-submission#story-submission-form(name="submitStory")
        .col-xs-12
            .form-group
                .col-xs-12.col-md-1
                    label.control-label.control-label-story-submission(for='name') Link
                .col-xs-12.col-md-11
                  input#story-url.form-control(name='Link', disabled, value='#{storyURL}')
            .form-group
                .col-xs-12.col-md-1
                    label.control-label.control-label-story-submission(for='name') Title
                .col-xs-12.col-md-11
                  input#story-title.form-control(value='#{storyTitle}', name='Title', maxlength='90', autocomplete="off", autofocus, required)
            .form-group
                .col-xs-12.col-md-offset-1
                    span.pull-left#textarea_feedback
            .form-group
                .col-xs-11.col-md-offset-1
                    .hidden-element#image-display
                        .media
                            .media-left
                                img.url-preview.media-object(src="#{storyImage}", alt="#{storyMetaDescription}")
                            .media-body
                                .col-xs-12
                                    p= storyMetaDescription
            .spacer
            .row
                .form-group

                    button.btn.btn-big.btn-block.btn-primary#story-submit(type='submit') Submit
    script.
      if (main.storyImage) {
        $('#image-display').removeClass('hidden-element');
      }
