extends ../layout
block content
    h1.text-center Camper News
    hr
    .spacer
        .row
            .col-xs-12
                h2 We have discontinued Camper News in favor of our
                    a(href='http://reddit.com/r/freecodecamp') &thinsp;Subreddit
                    | .
                h3 Thank you to all of the campers who have contributed links over the past year. Our
                    a(href='http://reddit.com/r/freecodecamp') &thinsp;Subreddit
                    | &thinsp; is now the best place to share coding-related links.
            .spacer
            hr
        #search-results
        .spacer
        #story-list
            ul#stories
    .spacer
        h3.row
            .col-xs-2.col-sm-1
                a(href="/" + author.username)
                    img(src="#{author.picture}", class='img-news')
            .col-xs-10.col-sm-10
                .col-xs-12.negative-28
                    a(href="#{link}", target="_blank")
                        h3= title
                h6
                    .col-xs-12.positive-15.hidden-element#image-display
                        .media
                            .media-left
                                img.url-preview.media-object(src="#{image}", alt="#{storyMetaDescription}")
                            .media-body
                                .col-xs-12.col-sm-12.col-md-6
                                    h4= storyMetaDescription
                    .col-xs-12
                        .spacer
                        span#storyRank= rank + (rank > 1 ? " points" : " point")
                        |  &thinsp;·&thinsp;
                        span Posted #{timeAgo}
                        span &thinsp;by&thinsp;
                            a(href="/" + author.username) @#{author.username}

        script.
            if (image) {
                $('#image-display').removeClass('hidden-element')
            }
