extends ../layout
block content
    script.
        var challengeName = 'Nonprofits View';
    .col-xs-12.col-sm-12.col-md-12
        .panel.panel-info
            .panel-heading.text-center
                h1= title
            .panel-body
                h3= whatDoesNonprofitDo
                for deliverable in approvedDeliverables
                    p= deliverable
                p Website:
                    a(href=websiteLink)= websiteLink
                p Project Description:
                    = projectDescription
                p Estimated Hours Per Camper
                    = estimatedHours
                img.img-responsive(src=imageUrl)
                img.img-responsive(src=logoUrl)
                .spacer
                .text-center
                    #showAllButton.btn.btn-info.btn-big Show all Nonprofits Projects
                .spacer
                .row
                    .col-xs-12.text-center
                        if !user
                            a.btn.btn-cta.signup-btn.btn-primary(href="/login") Start learning to code (it's free)
            .spacer
    #all-challenges-dialog.modal(tabindex='-1')
        .modal-dialog.animated.fadeInUp.fast-animation
            .modal-content
                .modal-header.all-list-header Nonprofit Projects
                    a.close.closing-x(href='#', data-dismiss='modal', aria-hidden='true') ×
                .modal-body
                    include ../partials/nonprofits
