extends ../layout
block content
    script.
        var completed = !{JSON.stringify(completedFieldGuides)}
        var all = !{JSON.stringify(allFieldGuideNamesAndIds)}
    .col-xs-12.col-sm-12.col-md-12
        .panel.panel-info
            .panel-heading.text-center Read our Field Guide in any order
            .panel-body
                .col-xs-12.col-md-10.col-md-offset-1
                    .col-xs-12.no-right-padding
                      each category, index in categories
                        h2.text-center= category.charAt(0).toUpperCase() + category.slice(1)
                        h3
                            ol
                                each fieldGuide in fieldGuides[index]
                                    if completedFieldGuides.indexOf(fieldGuide.id) > -1
                                        .row
                                            .hidden-xs.col-sm-3.col-md-2.text-primary.ion-checkmark-circled.padded-ionic-icon.text-center
                                            .col-xs-12.col-sm-9.col-md-10
                                                li.faded
                                                    a(href="/field-guide/#{fieldGuide.dashedName}")= fieldGuide.name
                                    else
                                        .row
                                            .hidden-xs.col-sm-3.col-md-2
                                                span
                                            .col-xs-12.col-sm-9.col-md-10
                                                li
                                                    a(href="/field-guide/#{fieldGuide.dashedName}")= fieldGuide.name
